# Storing Fantasy Premier League data in a database - part 1
- Author: Steffan Rees
- 17/04/2022

## Background
In this series of notebooks we will cover the following:
- Extracting data from an API (part 1)
- Transforming the data (part 1)
- Storing the data in a database (part 1)
- Querying the database (part 2)
- Comparing SQL to pandas (part 2)

### How do extract data from https://fantasy.premierleague.com?
Before jumping to using a web scraping library, we can check whether an API exists. Luckily for us one does exist which makes the tasks a lot easier. However, how do we find out that an API exists in the first place? To check whether an API is being used to populate data on a website, we can investigate the network of a given web page. For example on https://fantasy.premierleague.com/statistics, we see a GET request being made to https://fantasy.premierleague.com/api/bootstrap-static/ which contains some data we can extract!

Once we have found the API call, we can use software such as Postman to retrieve the code needed to make the API call. Postman also allows easier viewing of the structure of the data.

To save time finding all the individual end points, we can reference the excellent Medium post https://medium.com/@frenzelts/fantasy-premier-league-api-endpoints-a-detailed-guide-acbd5598eb19.

In this notebook we will focus on the constant end points - the variable end points will be left as an exercise.

In [1]:
# Import libraries
import requests
import pandas as pd
import sqlite3

In [2]:
# Connect to the database
def sql_connection(db):
    try:
        con = sqlite3.connect(db)
    except Error:
        print(Error)
        
    cursor = con.cursor()
    return con, cursor

In [3]:
# Drop table if it exists
def drop_table_if_exists(cur, con, table):
    query = f'DROP TABLE IF EXISTS {table}'
    cur.execute(query)
    con.commit()

In [4]:
# Constant end points
BOOTSTRAP_STATIC_URL = "https://fantasy.premierleague.com/api/bootstrap-static/"
FIXTURES_URL = "https://fantasy.premierleague.com/api/fixtures/"
EVENT_STATUS_URL = "https://fantasy.premierleague.com/api/event-status/"
SET_PIECE_URL = "https://fantasy.premierleague.com/api/team/set-piece-notes/"

#### Variable end points
- https://fantasy.premierleague.com/api/element-summary/{element_id}/
- https://fantasy.premierleague.com/api/event/{event_id}/live/
- https://fantasy.premierleague.com/api/entry/{manager_id}/
- https://fantasy.premierleague.com/api/entry/{manager_id}/history/
- https://fantasy.premierleague.com/api/entry/{manager_id}/event/{gameweek}/picks/'
- https://fantasy.premierleague.com/api/leagues-classic/{league_id}/standings
- https://fantasy.premierleague.com/api/dream-team/{event_id}/

## General information

In [5]:
# Extract the information available in the bootstrap-static end point
def get_bootstrap_static(url):
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()
    else:
        raise Exception(f"Request failed. Return code is {response.status_code}.")

In [6]:
bootstrap_static = get_bootstrap_static(BOOTSTRAP_STATIC_URL)

In [7]:
# What subsets of data exist?
bootstrap_static.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

### Events
Basic information of every gameweek such as average score, highest score, top scoring player, most captained, etc.

In [8]:
# First gameweek
bootstrap_static['events'][0]

{'id': 1,
 'name': 'Gameweek 1',
 'deadline_time': '2021-08-13T17:30:00Z',
 'average_entry_score': 69,
 'finished': True,
 'data_checked': True,
 'highest_scoring_entry': 5059647,
 'deadline_time_epoch': 1628875800,
 'deadline_time_game_offset': 0,
 'highest_score': 150,
 'is_previous': False,
 'is_current': False,
 'is_next': False,
 'cup_leagues_created': False,
 'h2h_ko_matches_created': False,
 'chip_plays': [{'chip_name': 'bboost', 'num_played': 145658},
  {'chip_name': '3xc', 'num_played': 225749}],
 'most_selected': 275,
 'most_transferred_in': 1,
 'top_element': 277,
 'top_element_info': {'id': 277, 'points': 20},
 'transfers_made': 0,
 'most_captained': 233,
 'most_vice_captained': 277}

In [9]:
# Last gameweek
bootstrap_static['events'][-1]

{'id': 38,
 'name': 'Gameweek 38',
 'deadline_time': '2022-05-22T13:30:00Z',
 'average_entry_score': 0,
 'finished': False,
 'data_checked': False,
 'highest_scoring_entry': None,
 'deadline_time_epoch': 1653226200,
 'deadline_time_game_offset': 0,
 'highest_score': None,
 'is_previous': False,
 'is_current': False,
 'is_next': True,
 'cup_leagues_created': False,
 'h2h_ko_matches_created': False,
 'chip_plays': [],
 'most_selected': None,
 'most_transferred_in': None,
 'top_element': None,
 'top_element_info': None,
 'transfers_made': 0,
 'most_captained': None,
 'most_vice_captained': None}

In [10]:
# Extract the current gameweek
def get_current_gameweek():
    bootstrap_static = get_bootstrap_static(BOOTSTRAP_STATIC_URL)
    events = bootstrap_static['events']
    for index in range(len(events)):
        for key in events[index]:
            if key == 'finished' and events[index][key] == False:
                gameweek = events[index]['id']
                break
        else:
            continue
        return gameweek

In [11]:
# Current gameweek
current_gameweek = get_current_gameweek()
bootstrap_static['events'][current_gameweek-1]

{'id': 37,
 'name': 'Gameweek 37',
 'deadline_time': '2022-05-15T09:30:00Z',
 'average_entry_score': 22,
 'finished': False,
 'data_checked': False,
 'highest_scoring_entry': 1401755,
 'deadline_time_epoch': 1652607000,
 'deadline_time_game_offset': 0,
 'highest_score': 113,
 'is_previous': False,
 'is_current': True,
 'is_next': False,
 'cup_leagues_created': True,
 'h2h_ko_matches_created': True,
 'chip_plays': [{'chip_name': 'bboost', 'num_played': 235300},
  {'chip_name': 'freehit', 'num_played': 396962},
  {'chip_name': 'wildcard', 'num_played': 139309},
  {'chip_name': '3xc', 'num_played': 177851}],
 'most_selected': 233,
 'most_transferred_in': 359,
 'top_element': 215,
 'top_element_info': {'id': 215, 'points': 16},
 'transfers_made': 12404447,
 'most_captained': 233,
 'most_vice_captained': 359}

In [12]:
# Extract wildcard information
def extract_wildcard_info(chips, chip_type):
    for index in range(len(chips)):
        for key in chips[index]:
            if chips[index][key] == chip_type:
                num_played = chips[index]['num_played']
                break
        else:
            continue
        return num_played

In [13]:
# Store events data in a dataframe
def events_table():
    bootstrap_static = get_bootstrap_static(BOOTSTRAP_STATIC_URL)
    events_df = pd.DataFrame(bootstrap_static['events'])
    return (events_df
            .assign(most_points_score = events_df.top_element_info.apply(lambda x: None if x is None else x['points']),
                    bboost_played = events_df.chip_plays.apply(lambda x: None if not x else extract_wildcard_info(x, 'bboost')),
                    freehit_played = events_df.chip_plays.apply(lambda x: None if not x else extract_wildcard_info(x, 'freehit')),
                    wildcard_played = events_df.chip_plays.apply(lambda x: None if not x else extract_wildcard_info(x, 'wildcard')),
                    triple_captain_played = events_df.chip_plays.apply(lambda x: None if not x else extract_wildcard_info(x, '3xc')),
                   )
            .astype({'id': 'int8',
                     'average_entry_score': 'int8',
                     'highest_scoring_entry': 'Int32',
                     'deadline_time_game_offset': 'int8',
                     'highest_score': 'Int32',
                     'most_selected': 'Int32',
                     'most_transferred_in': 'Int32',
                     'top_element': 'Int32',
                     'transfers_made': 'int32',
                     'most_captained': 'Int32',
                     'most_vice_captained': 'Int32',
                     'most_points_score': 'Int8',
                     'bboost_played': 'Int32',
                     'freehit_played': 'Int32',
                     'wildcard_played': 'Int32',
                     'triple_captain_played': 'Int32'
                    })
            .drop(columns=['top_element_info', 'chip_plays'])
            .rename(columns={'id': 'gameweek_id',
                             'name': 'gameweek_name',
                             'most_selected': 'most_selected_id',
                             'most_transferred_in': 'most_transferred_in_id',
                             'top_element': 'top_player_id',
                             'highest_scoring_entry': 'highest_scoring_entry_id',
                             'most_captained': 'most_captained_id',
                             'most_vice_captained': 'most_vice_captained_id'
                            })
           )

In [14]:
events = events_table()
print(events.shape)
events.head()

(38, 26)

,gameweek_id,gameweek_name,deadline_time,average_entry_score,finished,data_checked,highest_scoring_entry_id,deadline_time_epoch,deadline_time_game_offset,highest_score,...,most_transferred_in_id,top_player_id,transfers_made,most_captained_id,most_vice_captained_id,most_points_score,bboost_played,freehit_played,wildcard_played,triple_captain_played
0,1,Gameweek 1,2021-08-13T17:30:00Z,69,True,True,5059647,1628875800,0,150,...,1,277,0,233,277,20,145658,<NA>,<NA>,225749
1,2,Gameweek 2,2021-08-21T10:00:00Z,56,True,True,6882931,1629540000,0,146,...,272,142,12038724,233,277,18,95038,102410,277209,269514
2,3,Gameweek 3,2021-08-28T10:00:00Z,54,True,True,7516002,1630144800,0,119,...,419,268,15553648,277,277,18,94049,117627,372083,138714
3,4,Gameweek 4,2021-09-11T10:00:00Z,57,True,True,7797969,1631354400,0,120,...,579,432,28985870,233,233,13,77204,168976,1117718,157121
4,5,Gameweek 5,2021-09-17T17:30:00Z,55,True,True,3139954,1631899800,0,144,...,579,44,18706283,233,579,15,49533,127510,708431,104192

In [15]:
events.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gameweek_id                38 non-null     int8
 1   gameweek_name              38 non-null     object
 2   deadline_time              38 non-null     object
 3   average_entry_score        38 non-null     int8
 4   finished                   38 non-null     bool
 5   data_checked               38 non-null     bool
 6   highest_scoring_entry_id   37 non-null     Int32
 7   deadline_time_epoch        38 non-null     int64
 8   deadline_time_game_offset  38 non-null     int8
 9   highest_score              37 non-null     Int32
 10  is_previous                38 non-null     bool
 11  is_current                 38 non-null     bool
 12  is_next                    38 non-null     bool
 13  cup_leagues_created        38 non-null     bool
 14  h2h_ko_matches_created     38 non-null     bool
 15  most_selected_id           37 non-null     Int32
 16  most_transferred_in_id     37 non-null     Int32
 17  top_player_id              37 non-null     Int32
 18  transfers_made             38 non-null     int32
 19  most_captained_id          37 non-null     Int32
 20  most_vice_captained_id     37 non-null     Int32
 21  most_points_score          37 non-null     Int8
 22  bboost_played              37 non-null     Int32
 23  freehit_played             36 non-null     Int32
 24  wildcard_played            36 non-null     Int32
 25  triple_captain_played      37 non-null     Int32
dtypes: Int32(11), Int8(1), bool(7), int32(1), int64(1), int8(3), object(2)
memory usage: 3.7+ KB

In [16]:
# Load dataframe into a SQLite db table
con, cursor = sql_connection('fpl.db')
drop_table_if_exists(cursor, con, 'gameweeks')
events.to_sql(name='gameweeks', con=con, if_exists='replace', index=False, dtype={'gameweek_id': 'INTEGER PRIMARY KEY'})
con.commit()
con.close()

### Teams
Basic information of current Premier League clubs.

In [17]:
bootstrap_static['teams'][0]

{'code': 3,
 'draw': 0,
 'form': None,
 'id': 1,
 'loss': 0,
 'name': 'Arsenal',
 'played': 0,
 'points': 0,
 'position': 0,
 'short_name': 'ARS',
 'strength': 4,
 'team_division': None,
 'unavailable': False,
 'win': 0,
 'strength_overall_home': 1250,
 'strength_overall_away': 1270,
 'strength_attack_home': 1150,
 'strength_attack_away': 1210,
 'strength_defence_home': 1190,
 'strength_defence_away': 1220,
 'pulse_id': 1}

In [18]:
# Store teams data in a dataframe
def teams_table():
    bootstrap_static = get_bootstrap_static(BOOTSTRAP_STATIC_URL)
    teams_df = pd.DataFrame(bootstrap_static['teams'])
    teams_df = (teams_df
                .astype({'code': 'int8',
                         'draw': 'int8',
                         'loss': 'int8',
                         'played': 'int8',
                         'points': 'int8',
                         'position': 'int8',
                         'strength': 'int8',
                         'win': 'int8',
                         'strength_overall_home': 'int16',
                         'strength_overall_away': 'int16',
                         'strength_attack_home': 'int16',
                         'strength_attack_away': 'int16',
                         'strength_defence_home': 'int16',
                         'strength_defence_away': 'int16',
                         'pulse_id': 'int16'
                        })
                .rename(columns={'code': 'team_code',
                                 'id': 'team_id',
                                 'name': 'team_name',
                                 'short_name': 'team_short_name'
                                })
               )
    cols_to_move = ['team_id', 'team_code', 'team_name', 'team_short_name']
    teams_df = teams_df[cols_to_move + [ col for col in teams_df.columns if col not in cols_to_move ]]
    return teams_df

In [19]:
teams = teams_table()
print(teams.shape)
teams.head()

(20, 21)

,team_id,team_code,team_name,team_short_name,draw,form,loss,played,points,position,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,1,3,Arsenal,ARS,0,None,0,0,0,0,...,None,False,0,1250,1270,1150,1210,1190,1220,1
1,2,7,Aston Villa,AVL,0,None,0,0,0,0,...,None,False,0,1100,1100,1140,1110,1090,1090,2
2,3,94,Brentford,BRE,0,None,0,0,0,0,...,None,False,0,1060,1070,1120,1150,1080,1120,130
3,4,36,Brighton,BHA,0,None,0,0,0,0,...,None,False,0,1100,1090,1160,1160,1100,1120,131
4,5,90,Burnley,BUR,0,None,0,0,0,0,...,None,False,0,1060,1060,1080,1130,1060,1100,43

In [20]:
teams.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   team_id                20 non-null     int64
 1   team_code              20 non-null     int8
 2   team_name              20 non-null     object
 3   team_short_name        20 non-null     object
 4   draw                   20 non-null     int8
 5   form                   0 non-null      object
 6   loss                   20 non-null     int8
 7   played                 20 non-null     int8
 8   points                 20 non-null     int8
 9   position               20 non-null     int8
 10  strength               20 non-null     int8
 11  team_division          0 non-null      object
 12  unavailable            20 non-null     bool
 13  win                    20 non-null     int8
 14  strength_overall_home  20 non-null     int16
 15  strength_overall_away  20 non-null     int16
 16  strength_attack_home   20 non-null     int16
 17  strength_attack_away   20 non-null     int16
 18  strength_defence_home  20 non-null     int16
 19  strength_defence_away  20 non-null     int16
 20  pulse_id               20 non-null     int16
dtypes: bool(1), int16(7), int64(1), int8(8), object(4)
memory usage: 1.4+ KB

In [21]:
con, cursor = sql_connection('fpl.db')
drop_table_if_exists(cursor, con, 'teams')
teams.to_sql(name='teams', con=con, if_exists='replace', index=False, dtype={'team_id': 'INTEGER PRIMARY KEY'})
con.commit()
con.close()

### Element type (player position)

In [22]:
bootstrap_static['element_types'][0]

{'id': 1,
 'plural_name': 'Goalkeepers',
 'plural_name_short': 'GKP',
 'singular_name': 'Goalkeeper',
 'singular_name_short': 'GKP',
 'squad_select': 2,
 'squad_min_play': 1,
 'squad_max_play': 1,
 'ui_shirt_specific': True,
 'sub_positions_locked': [12],
 'element_count': 83}

In [23]:
def position_table():
    bootstrap_static = get_bootstrap_static(BOOTSTRAP_STATIC_URL)
    positions_df = pd.DataFrame(bootstrap_static['element_types'])
    return (positions_df
            .assign(sub_positions_locked = positions_df.sub_positions_locked.apply(lambda x: None if x == [] else int(''.join([str(i) for i in x]))))
            .astype({'id': 'int8',
                     'squad_select': 'int8',
                     'squad_min_play': 'int8',
                     'squad_max_play': 'int8',
                     'sub_positions_locked': 'Int8',
                     'element_count': 'int16'
                    })
            .rename(columns={'id': 'position_id',
                             'plural_name_short': 'position_name_short',
                             'singular_name': 'position_name'
                            })
            .drop(columns=['plural_name', 'singular_name_short'])
           )

In [24]:
positions = position_table()
print(positions.shape)
positions.head()

(4, 9)

,position_id,position_name_short,position_name,squad_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,GKP,Goalkeeper,2,1,1,True,12,83
1,2,DEF,Defender,5,3,5,False,<NA>,247
2,3,MID,Midfielder,5,2,5,False,<NA>,308
3,4,FWD,Forward,3,1,3,False,<NA>,98

In [25]:
positions.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   position_id           4 non-null      int8
 1   position_name_short   4 non-null      object
 2   position_name         4 non-null      object
 3   squad_select          4 non-null      int8
 4   squad_min_play        4 non-null      int8
 5   squad_max_play        4 non-null      int8
 6   ui_shirt_specific     4 non-null      bool
 7   sub_positions_locked  1 non-null      Int8
 8   element_count         4 non-null      int16
dtypes: Int8(1), bool(1), int16(1), int8(4), object(2)
memory usage: 228.0+ bytes

In [26]:
con, cursor = sql_connection('fpl.db')
drop_table_if_exists(cursor, con, 'positions')
positions.to_sql(name='positions', con=con, if_exists='replace', index=False, dtype={'position_id': 'INTEGER PRIMARY KEY'})
con.commit()
con.close()

### Elements (players)
Information of all Premier League players including points, status, value, match stats (goals, assists, etc.), ICT index, etc.

In [27]:
bootstrap_static['elements'][0]

{'chance_of_playing_next_round': 100,
 'chance_of_playing_this_round': 100,
 'code': 80201,
 'cost_change_event': 0,
 'cost_change_event_fall': 0,
 'cost_change_start': -5,
 'cost_change_start_fall': 5,
 'dreamteam_count': 1,
 'element_type': 1,
 'ep_next': '1.0',
 'ep_this': '0.5',
 'event_points': 0,
 'first_name': 'Bernd',
 'form': '0.0',
 'id': 1,
 'in_dreamteam': False,
 'news': '',
 'news_added': '2022-02-11T08:00:15.144286Z',
 'now_cost': 45,
 'photo': '80201.jpg',
 'points_per_game': '2.5',
 'second_name': 'Leno',
 'selected_by_percent': '0.8',
 'special': False,
 'squad_number': None,
 'status': 'a',
 'team': 1,
 'team_code': 3,
 'total_points': 10,
 'transfers_in': 80700,
 'transfers_in_event': 15,
 'transfers_out': 205094,
 'transfers_out_event': 38,
 'value_form': '0.0',
 'value_season': '2.2',
 'web_name': 'Leno',
 'minutes': 360,
 'goals_scored': 0,
 'assists': 0,
 'clean_sheets': 1,
 'goals_conceded': 9,
 'own_goals': 0,
 'penalties_saved': 0,
 'penalties_missed': 0,
 'yellow_cards': 0,
 'red_cards': 0,
 'saves': 10,
 'bonus': 0,
 'bps': 69,
 'influence': '85.0',
 'creativity': '0.0',
 'threat': '0.0',
 'ict_index': '8.5',
 'influence_rank': 397,
 'influence_rank_type': 29,
 'creativity_rank': 614,
 'creativity_rank_type': 69,
 'threat_rank': 598,
 'threat_rank_type': 60,
 'ict_index_rank': 442,
 'ict_index_rank_type': 30,
 'corners_and_indirect_freekicks_order': None,
 'corners_and_indirect_freekicks_text': '',
 'direct_freekicks_order': None,
 'direct_freekicks_text': '',
 'penalties_order': None,
 'penalties_text': ''}

In [28]:
def players_table():
    bootstrap_static = get_bootstrap_static(BOOTSTRAP_STATIC_URL)
    players_df = pd.DataFrame(bootstrap_static['elements'])
    players_df = (players_df
                  .assign(now_cost = players_df.now_cost.astype(float) / 10)
                  .astype({'chance_of_playing_next_round': 'Int8',
                           'chance_of_playing_this_round': 'Int8',
                           'code': 'int32',
                           'cost_change_event': 'int8',
                           'cost_change_event_fall': 'int8',
                           'cost_change_start': 'int8',
                           'cost_change_start_fall': 'int8',
                           'dreamteam_count': 'int8',
                           'element_type': 'int8',
                           'ep_next': 'float',
                           'ep_this': 'float',
                           'event_points': 'int8',
                           'form': 'float',
                           'id': 'int16',
                           'points_per_game': 'float',
                           'selected_by_percent': 'float',
                           'squad_number': 'Int8',
                           'team': 'int8',
                           'team_code': 'int8',
                           'total_points': 'int16',
                           'transfers_in': 'int32',
                           'transfers_in_event': 'int32',
                           'transfers_out': 'int32',
                           'transfers_out_event': 'int32',
                           'value_form': 'float',
                           'value_season': 'float',
                           'minutes': 'int16',
                           'goals_scored': 'int8',
                           'assists': 'int8',
                           'clean_sheets': 'int8',
                           'goals_conceded': 'int8',
                           'own_goals': 'int8',
                           'penalties_saved': 'int8',
                           'penalties_missed': 'int8',
                           'yellow_cards': 'int8',
                           'red_cards': 'int8',
                           'saves': 'int16',
                           'bonus': 'int8',
                           'bps': 'int16',
                           'influence': 'float',
                           'creativity': 'float',
                           'threat': 'float',
                           'ict_index': 'float',
                           'influence_rank': 'Int16',
                           'influence_rank_type': 'Int16',
                           'creativity_rank': 'Int16',
                           'creativity_rank_type': 'Int16',
                           'threat_rank': 'Int16',
                           'threat_rank_type': 'Int16',
                           'ict_index_rank': 'Int16',
                           'ict_index_rank_type': 'Int16',
                           'corners_and_indirect_freekicks_order': 'Int8',
                           'direct_freekicks_order': 'Int8',
                           'penalties_order': 'Int8'
                          })
                  .drop(columns=['photo'])
                  .rename(columns={'code': 'player_code',
                                   'id': 'player_id',
                                   'team': 'team_id',
                                   'element_type': 'position_id'
                                  })
                 )
    cols_to_move = ['player_id', 'player_code', 'first_name', 'second_name', 'web_name', 'team_id', 'team_code']
    players_df = players_df[cols_to_move + [ col for col in players_df.columns if col not in cols_to_move ]]
    return players_df

In [29]:
players = players_table()
print(players.shape)
players.head()

(736, 66)

,player_id,player_code,first_name,second_name,web_name,team_id,team_code,chance_of_playing_next_round,chance_of_playing_this_round,cost_change_event,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,1,80201,Bernd,Leno,Leno,1,3,100,100,0,...,598,60,442,30,<NA>,,<NA>,,<NA>,
1,2,115918,Rúnar Alex,Rúnarsson,Rúnarsson,1,3,0,0,0,...,490,19,541,55,<NA>,,<NA>,,<NA>,
2,3,47431,Willian,Borges Da Silva,Willian,1,3,0,0,0,...,732,306,732,306,<NA>,,<NA>,,<NA>,
3,4,54694,Pierre-Emerick,Aubameyang,Aubameyang,1,3,0,0,0,...,56,24,174,31,<NA>,,<NA>,,<NA>,
4,5,58822,Cédric,Soares,Cédric,1,3,100,100,0,...,319,104,261,86,2,,3,,<NA>,

In [30]:
players.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 66 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             736 non-null    int16
 1   player_code                           736 non-null    int32
 2   first_name                            736 non-null    object
 3   second_name                           736 non-null    object
 4   web_name                              736 non-null    object
 5   team_id                               736 non-null    int8
 6   team_code                             736 non-null    int8
 7   chance_of_playing_next_round          570 non-null    Int8
 8   chance_of_playing_this_round          569 non-null    Int8
 9   cost_change_event                     736 non-null    int8
 10  cost_change_event_fall                736 non-null    int8
 11  cost_change_start                     736 non-null    int8
 12  cost_change_start_fall                736 non-null    int8
 13  dreamteam_count                       736 non-null    int8
 14  position_id                           736 non-null    int8
 15  ep_next                               736 non-null    float64
 16  ep_this                               736 non-null    float64
 17  event_points                          736 non-null    int8
 18  form                                  736 non-null    float64
 19  in_dreamteam                          736 non-null    bool
 20  news                                  736 non-null    object
 21  news_added                            570 non-null    object
 22  now_cost                              736 non-null    float64
 23  points_per_game                       736 non-null    float64
 24  selected_by_percent                   736 non-null    float64
 25  special                               736 non-null    bool
 26  squad_number                          0 non-null      Int8
 27  status                                736 non-null    object
 28  total_points                          736 non-null    int16
 29  transfers_in                          736 non-null    int32
 30  transfers_in_event                    736 non-null    int32
 31  transfers_out                         736 non-null    int32
 32  transfers_out_event                   736 non-null    int32
 33  value_form                            736 non-null    float64
 34  value_season                          736 non-null    float64
 35  minutes                               736 non-null    int16
 36  goals_scored                          736 non-null    int8
 37  assists                               736 non-null    int8
 38  clean_sheets                          736 non-null    int8
 39  goals_conceded                        736 non-null    int8
 40  own_goals                             736 non-null    int8
 41  penalties_saved                       736 non-null    int8
 42  penalties_missed                      736 non-null    int8
 43  yellow_cards                          736 non-null    int8
 44  red_cards                             736 non-null    int8
 45  saves                                 736 non-null    int16
 46  bonus                                 736 non-null    int8
 47  bps                                   736 non-null    int16
 48  influence                             736 non-null    float64
 49  creativity                            736 non-null    float64
 50  threat                                736 non-null    float64
 51  ict_index                             736 non-null    float64
 52  influence_rank                        736 non-null    Int16
 53  influence_rank_type                   736 non-null    Int16
 54  creativity_rank                       736 non-null    Int16
 55  creativity_rank_type                  736 non-null    Int16
 56  threat_rank                           736 non-null    Int16
 57  threat_rank_type                      736 non-null    Int16
 58  ict_index_rank                        736 non-null    Int16
 59  ict_index_rank_type                   736 non-null    Int16
 60  corners_and_indirect_freekicks_order  86 non-null     Int8
 61  corners_and_indirect_freekicks_text   736 non-null    object
 62  direct_freekicks_order                86 non-null     Int8
 63  direct_freekicks_text                 736 non-null    object
 64  penalties_order                       71 non-null     Int8
 65  penalties_text                        736 non-null    object
dtypes: Int16(8), Int8(6), bool(2), float64(12), int16(5), int32(5), int8(19), object(9)
memory usage: 183.4+ KB

In [31]:
con, cursor = sql_connection('fpl.db')
drop_table_if_exists(cursor, con, 'players')
players.to_sql(name='players', con=con, if_exists='replace', index=False, dtype={'player_id': 'INTEGER PRIMARY KEY'})
con.commit()
con.close()

### Player Stats

In [32]:
bootstrap_static['element_stats']

[{'label': 'Minutes played', 'name': 'minutes'},
 {'label': 'Goals scored', 'name': 'goals_scored'},
 {'label': 'Assists', 'name': 'assists'},
 {'label': 'Clean sheets', 'name': 'clean_sheets'},
 {'label': 'Goals conceded', 'name': 'goals_conceded'},
 {'label': 'Own goals', 'name': 'own_goals'},
 {'label': 'Penalties saved', 'name': 'penalties_saved'},
 {'label': 'Penalties missed', 'name': 'penalties_missed'},
 {'label': 'Yellow cards', 'name': 'yellow_cards'},
 {'label': 'Red cards', 'name': 'red_cards'},
 {'label': 'Saves', 'name': 'saves'},
 {'label': 'Bonus', 'name': 'bonus'},
 {'label': 'Bonus Points System', 'name': 'bps'},
 {'label': 'Influence', 'name': 'influence'},
 {'label': 'Creativity', 'name': 'creativity'},
 {'label': 'Threat', 'name': 'threat'},
 {'label': 'ICT Index', 'name': 'ict_index'}]

In [33]:
# Store player summary data in a dataframe
def players_stats_table():
    bootstrap_static = get_bootstrap_static(BOOTSTRAP_STATIC_URL)
    player_stats_df = pd.DataFrame(bootstrap_static['element_stats'])
    return (player_stats_df
            .assign(player_stat_id = player_stats_df.index + 1)
            .astype({'player_stat_id': 'int8'})
            .reindex(columns=['player_stat_id',
                              'label',
                              'name'
                             ])
           )

In [34]:
player_stats = players_stats_table()
print(player_stats.shape)
player_stats.head()

(17, 3)

   player_stat_id           label            name
0               1  Minutes played         minutes
1               2    Goals scored    goals_scored
2               3         Assists         assists
3               4    Clean sheets    clean_sheets
4               5  Goals conceded  goals_conceded

In [35]:
player_stats.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   player_stat_id  17 non-null     int8
 1   label           17 non-null     object
 2   name            17 non-null     object
dtypes: int8(1), object(2)
memory usage: 417.0+ bytes

In [36]:
con, cursor = sql_connection('fpl.db')
drop_table_if_exists(cursor, con, 'player_stats')
player_stats.to_sql(name='player_stats', con=con, if_exists='replace', index=False, dtype={'player_stat_id': 'INTEGER PRIMARY KEY'})
con.commit()
con.close()

## Fixtures

In [37]:
# Extract information available from the fixtures end point
def get_fixtures(url):
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()
    else:
        raise Exception(f"Request failed. Return code is {response.status_code}.")

In [38]:
fixtures = get_fixtures(FIXTURES_URL)

In [39]:
fixtures[0]

{'code': 2210271,
 'event': 1,
 'finished': True,
 'finished_provisional': True,
 'id': 1,
 'kickoff_time': '2021-08-13T19:00:00Z',
 'minutes': 90,
 'provisional_start_time': False,
 'started': True,
 'team_a': 1,
 'team_a_score': 0,
 'team_h': 3,
 'team_h_score': 2,
 'stats': [{'identifier': 'goals_scored',
   'a': [],
   'h': [{'value': 1, 'element': 77}, {'value': 1, 'element': 81}]},
  {'identifier': 'assists', 'a': [], 'h': [{'value': 1, 'element': 91}]},
  {'identifier': 'own_goals', 'a': [], 'h': []},
  {'identifier': 'penalties_saved', 'a': [], 'h': []},
  {'identifier': 'penalties_missed', 'a': [], 'h': []},
  {'identifier': 'yellow_cards', 'a': [], 'h': []},
  {'identifier': 'red_cards', 'a': [], 'h': []},
  {'identifier': 'saves',
   'a': [{'value': 1, 'element': 1}],
   'h': [{'value': 4, 'element': 80}]},
  {'identifier': 'bonus',
   'a': [],
   'h': [{'value': 3, 'element': 81},
    {'value': 2, 'element': 91},
    {'value': 1, 'element': 80}]},
  {'identifier': 'bps',
   'a': [{'value': 17, 'element': 16},
    {'value': 14, 'element': 8},
    {'value': 14, 'element': 10},
    {'value': 13, 'element': 7},
    {'value': 13, 'element': 21},
    {'value': 13, 'element': 478},
    {'value': 12, 'element': 67},
    {'value': 11, 'element': 1},
    {'value': 9, 'element': 17},
    {'value': 7, 'element': 26},
    {'value': 4, 'element': 22},
    {'value': 4, 'element': 531},
    {'value': -2, 'element': 530}],
   'h': [{'value': 33, 'element': 81},
    {'value': 32, 'element': 91},
    {'value': 30, 'element': 80},
    {'value': 25, 'element': 77},
    {'value': 23, 'element': 483},
    {'value': 22, 'element': 76},
    {'value': 22, 'element': 83},
    {'value': 9, 'element': 479},
    {'value': 6, 'element': 84},
    {'value': 4, 'element': 78},
    {'value': 4, 'element': 96},
    {'value': 4, 'element': 97},
    {'value': 3, 'element': 90},
    {'value': 1, 'element': 88}]}],
 'team_h_difficulty': 4,
 'team_a_difficulty': 2,
 'pulse_id': 66342}

In [40]:
# Fixtures for current gameweek
[f for f in fixtures if f['event'] == current_gameweek]

[{'code': 2210637,
  'event': 37,
  'finished': True,
  'finished_provisional': True,
  'id': 367,
  'kickoff_time': '2022-05-15T11:00:00Z',
  'minutes': 90,
  'provisional_start_time': False,
  'started': True,
  'team_a': 5,
  'team_a_score': 0,
  'team_h': 17,
  'team_h_score': 1,
  'stats': [{'identifier': 'goals_scored',
    'a': [],
    'h': [{'value': 1, 'element': 357}]},
   {'identifier': 'assists', 'a': [], 'h': [{'value': 1, 'element': 367}]},
   {'identifier': 'own_goals', 'a': [], 'h': []},
   {'identifier': 'penalties_saved', 'a': [], 'h': []},
   {'identifier': 'penalties_missed', 'a': [], 'h': []},
   {'identifier': 'yellow_cards',
    'a': [{'value': 1, 'element': 112}, {'value': 1, 'element': 585}],
    'h': [{'value': 1, 'element': 353},
     {'value': 1, 'element': 362},
     {'value': 1, 'element': 701}]},
   {'identifier': 'red_cards', 'a': [], 'h': []},
   {'identifier': 'saves',
    'a': [{'value': 6, 'element': 112}],
    'h': [{'value': 1, 'element': 353}]},
   {'identifier': 'bonus',
    'a': [],
    'h': [{'value': 3, 'element': 367},
     {'value': 2, 'element': 368},
     {'value': 1, 'element': 357},
     {'value': 1, 'element': 361}]},
   {'identifier': 'bps',
    'a': [{'value': 20, 'element': 112},
     {'value': 20, 'element': 118},
     {'value': 14, 'element': 110},
     {'value': 13, 'element': 101},
     {'value': 12, 'element': 451},
     {'value': 9, 'element': 113},
     {'value': 9, 'element': 115},
     {'value': 8, 'element': 103},
     {'value': 8, 'element': 585},
     {'value': 4, 'element': 575},
     {'value': 3, 'element': 700},
     {'value': -4, 'element': 578}],
    'h': [{'value': 44, 'element': 367},
     {'value': 35, 'element': 368},
     {'value': 27, 'element': 357},
     {'value': 27, 'element': 361},
     {'value': 23, 'element': 588},
     {'value': 22, 'element': 364},
     {'value': 19, 'element': 353},
     {'value': 15, 'element': 362},
     {'value': 15, 'element': 365},
     {'value': 13, 'element': 702},
     {'value': 8, 'element': 359},
     {'value': 3, 'element': 374},
     {'value': -2, 'element': 701}]}],
  'team_h_difficulty': 2,
  'team_a_difficulty': 4,
  'pulse_id': 66708},
 {'code': 2210631,
  'event': 37,
  'finished': True,
  'finished_provisional': True,
  'id': 361,
  'kickoff_time': '2022-05-15T13:00:00Z',
  'minutes': 90,
  'provisional_start_time': False,
  'started': True,
  'team_a': 7,
  'team_a_score': 1,
  'team_h': 2,
  'team_h_score': 1,
  'stats': [{'identifier': 'goals_scored',
    'a': [{'value': 1, 'element': 155}],
    'h': [{'value': 1, 'element': 40}]},
   {'identifier': 'assists',
    'a': [{'value': 1, 'element': 477}],
    'h': [{'value': 1, 'element': 168}]},
   {'identifier': 'own_goals', 'a': [], 'h': []},
   {'identifier': 'penalties_saved', 'a': [], 'h': []},
   {'identifier': 'penalties_missed', 'a': [], 'h': []},
   {'identifier': 'yellow_cards',
    'a': [{'value': 1, 'element': 144},
     {'value': 1, 'element': 150},
     {'value': 1, 'element': 586}],
    'h': [{'value': 1, 'element': 38}]},
   {'identifier': 'red_cards', 'a': [], 'h': []},
   {'identifier': 'saves',
    'a': [{'value': 3, 'element': 156}],
    'h': [{'value': 3, 'element': 30}]},
   {'identifier': 'bonus',
    'a': [{'value': 3, 'element': 477}],
    'h': [{'value': 2, 'element': 40}, {'value': 1, 'element': 168}]},
   {'identifier': 'bps',
    'a': [{'value': 29, 'element': 477},
     {'value': 20, 'element': 155},
     {'value': 18, 'element': 488},
     {'value': 15, 'element': 156},
     {'value': 14, 'element': 152},
     {'value': 13, 'element': 160},
     {'value': 12, 'element': 150},
     {'value': 10, 'element': 162},
     {'value': 9, 'element': 493},
     {'value': 8, 'element': 144},
     {'value': 5, 'element': 159},
     {'value': 4, 'element': 149},
     {'value': -1, 'element': 586},
     {'value': -5, 'element': 154}],
    'h': [{'value': 26, 'element': 40},
     {'value': 24, 'element': 168},
     {'value': 16, 'element': 41},
     {'value': 15, 'element': 30},
     {'value': 13, 'element': 50},
     {'value': 10, 'element': 35},
     {'value': 10, 'element': 38},
     {'value': 10, 'element': 44},
     {'value': 10, 'element': 681},
     {'value': 5, 'element': 45},
     {'value': 4, 'element': 10},
     {'value': 4, 'element': 51},
     {'value': 4, 'element': 337},
     {'value': 2, 'element': 43}]}],
  'team_h_difficulty': 2,
  'team_a_difficulty': 2,
  'pulse_id': 66702},
 {'code': 2210633,
  'event': 37,
  'finished': True,
  'finished_provisional': True,
  'id': 363,
  'kickoff_time': '2022-05-15T13:00:00Z',
  'minutes': 90,
  'provisional_start_time': False,
  'started': True,
  'team_a': 4,
  'team_a_score': 1,
  'team_h': 10,
  'team_h_score': 1,
  'stats': [{'identifier': 'goals_scored',
    'a': [{'value': 1, 'element': 447}],
    'h': [{'value': 1, 'element': 198}]},
   {'identifier': 'assists',
    'a': [{'value': 1, 'element': 70}],
    'h': [{'value': 1, 'element': 577}]},
   {'identifier': 'own_goals', 'a': [], 'h': []},
   {'identifier': 'penalties_saved', 'a': [], 'h': []},
   {'identifier': 'penalties_missed', 'a': [], 'h': []},
   {'identifier': 'yellow_cards',
    'a': [{'value': 1, 'element': 71}, {'value': 1, 'element': 538}],
    'h': [{'value': 1, 'element': 184},
     {'value': 1, 'element': 187},
     {'value': 1, 'element': 463}]},
   {'identifier': 'red_cards', 'a': [], 'h': []},
   {'identifier': 'saves',
    'a': [{'value': 3, 'element': 69}],
    'h': [{'value': 5, 'element': 199}]},
   {'identifier': 'bonus',
    'a': [{'value': 3, 'element': 70},
     {'value': 2, 'element': 584},
     {'value': 1, 'element': 447}],
    'h': []},
   {'identifier': 'bps',
    'a': [{'value': 30, 'element': 70},
     {'value': 23, 'element': 584},
     {'value': 20, 'element': 447},
     {'value': 17, 'element': 74},
     {'value': 16, 'element': 69},
     {'value': 15, 'element': 62},
     {'value': 15, 'element': 64},
     {'value': 14, 'element': 59},
     {'value': 8, 'element': 55},
     {'value': 6, 'element': 538},
     {'value': 5, 'element': 60},
     {'value': 4, 'element': 61},
     {'value': 3, 'element': 53},
     {'value': -2, 'element': 71}],
    'h': [{'value': 19, 'element': 199},
     {'value': 16, 'element': 186},
     {'value': 14, 'element': 198},
     {'value': 12, 'element': 190},
     {'value': 12, 'element': 577},
     {'value': 11, 'element': 191},
     {'value': 11, 'element': 463},
     {'value': 8, 'element': 187},
     {'value': 7, 'element': 184},
     {'value': 7, 'element': 194},
     {'value': 5, 'element': 197},
     {'value': 4, 'element': 196},
     {'value': 3, 'element': 267},
     {'value': 3, 'element': 550}]}],
  'team_h_difficulty': 2,
  'team_a_difficulty': 2,
  'pulse_id': 66704},
 {'code': 2210638,
  'event': 37,
  'finished': True,
  'finished_provisional': True,
  'id': 368,
  'kickoff_time': '2022-05-15T13:00:00Z',
  'minutes': 90,
  'provisional_start_time': False,
  'started': True,
  'team_a': 9,
  'team_a_score': 5,
  'team_h': 18,
  'team_h_score': 1,
  'stats': [{'identifier': 'goals_scored',
    'a': [{'value': 2, 'element': 205},
     {'value': 2, 'element': 215},
     {'value': 1, 'element': 212}],
    'h': [{'value': 1, 'element': 404}]},
   {'identifier': 'assists',
    'a': [{'value': 2, 'element': 212},
     {'value': 1, 'element': 202},
     {'value': 1, 'element': 210},
     {'value': 1, 'element': 215}],
    'h': []},
   {'identifier': 'own_goals', 'a': [], 'h': []},
   {'identifier': 'penalties_saved', 'a': [], 'h': []},
   {'identifier': 'penalties_missed', 'a': [], 'h': []},
   {'identifier': 'yellow_cards',
    'a': [{'value': 1, 'element': 210}],
    'h': []},
   {'identifier': 'red_cards', 'a': [], 'h': []},
   {'identifier': 'saves',
    'a': [{'value': 4, 'element': 204}],
    'h': [{'value': 2, 'element': 376}]},
   {'identifier': 'bonus',
    'a': [{'value': 3, 'element': 205},
     {'value': 2, 'element': 212},
     {'value': 1, 'element': 215}],
    'h': []},
   {'identifier': 'bps',
    'a': [{'value': 62, 'element': 205},
     {'value': 56, 'element': 212},
     {'value': 54, 'element': 215},
     {'value': 20, 'element': 210},
     {'value': 18, 'element': 220},
     {'value': 17, 'element': 204},
     {'value': 15, 'element': 202},
     {'value': 15, 'element': 218},
     {'value': 12, 'element': 208},
     {'value': 11, 'element': 505},
     {'value': 9, 'element': 201},
     {'value': 9, 'element': 203},
     {'value': 6, 'element': 209},
     {'value': 5, 'element': 455}],
    'h': [{'value': 26, 'element': 400},
     {'value': 18, 'element': 391},
     {'value': 17, 'element': 354},
     {'value': 17, 'element': 679},
     {'value': 14, 'element': 404},
     {'value': 13, 'element': 379},
     {'value': 10, 'element': 390},
     {'value': 9, 'element': 376},
     {'value': 5, 'element': 378},
     {'value': 5, 'element': 676},
     {'value': 5, 'element': 698},
     {'value': 1, 'element': 384}]}],
  'team_h_difficulty': 2,
  'team_a_difficulty': 2,
  'pulse_id': 66709},
 {'code': 2210639,
  'event': 37,
  'finished': True,
  'finished_provisional': True,
  'id': 369,
  'kickoff_time': '2022-05-15T13:00:00Z',
  'minutes': 90,
  'provisional_start_time': False,
  'started': True,
  'team_a': 12,
  'team_a_score': 2,
  'team_h': 19,
  'team_h_score': 2,
  'stats': [{'identifier': 'goals_scored',
    'a': [{'value': 1, 'element': 33}],
    'h': [{'value': 2, 'element': 420}]},
   {'identifier': 'assists',
    'a': [{'value': 1, 'element': 254}, {'value': 1, 'element': 266}],
    'h': [{'value': 1, 'element': 413}, {'value': 1, 'element': 423}]},
   {'identifier': 'own_goals', 'a': [], 'h': [{'value': 1, 'element': 418}]},
   {'identifier': 'penalties_saved',
    'a': [],
    'h': [{'value': 1, 'element': 408}]},
   {'identifier': 'penalties_missed',
    'a': [{'value': 1, 'element': 254}],
    'h': []},
   {'identifier': 'yellow_cards',
    'a': [{'value': 1, 'element': 263}],
    'h': [{'value': 1, 'element': 408},
     {'value': 1, 'element': 418},
     {'value': 1, 'element': 420}]},
   {'identifier': 'red_cards', 'a': [], 'h': []},
   {'identifier': 'saves', 'a': [], 'h': [{'value': 7, 'element': 408}]},
   {'identifier': 'bonus',
    'a': [{'value': 2, 'element': 33}],
    'h': [{'value': 3, 'element': 420}, {'value': 1, 'element': 408}]},
   {'identifier': 'bps',
    'a': [{'value': 37, 'element': 33},
     {'value': 23, 'element': 266},
     {'value': 19, 'element': 264},
     {'value': 15, 'element': 259},
     {'value': 15, 'element': 261},
     {'value': 14, 'element': 251},
     {'value': 14, 'element': 453},
     {'value': 13, 'element': 256},
     {'value': 12, 'element': 254},
     {'value': 12, 'element': 263},
     {'value': 6, 'element': 257}],
    'h': [{'value': 39, 'element': 420},
     {'value': 35, 'element': 408},
     {'value': 23, 'element': 423},
     {'value': 12, 'element': 128},
     {'value': 12, 'element': 411},
     {'value': 12, 'element': 413},
     {'value': 12, 'element': 422},
     {'value': 11, 'element': 421},
     {'value': 9, 'element': 416},
     {'value': 4, 'element': 414},
     {'value': 3, 'element': 406},
     {'value': 3, 'element': 412},
     {'value': 3, 'element': 425},
     {'value': -3, 'element': 418}]}],
  'team_h_difficulty': 5,
  'team_a_difficulty': 3,
  'pulse_id': 66710},
 {'code': 2210640,
  'event': 37,
  'finished': True,
  'finished_provisional': True,
  'id': 370,
  'kickoff_time': '2022-05-15T13:00:00Z',
  'minutes': 90,
  'provisional_start_time': False,
  'started': True,
  'team_a': 15,
  'team_a_score': 1,
  'team_h': 20,
  'team_h_score': 1,
  'stats': [{'identifier': 'goals_scored',
    'a': [{'value': 1, 'element': 315}],
    'h': [{'value': 1, 'element': 470}]},
   {'identifier': 'assists', 'a': [{'value': 1, 'element': 326}], 'h': []},
   {'identifier': 'own_goals', 'a': [], 'h': []},
   {'identifier': 'penalties_saved', 'a': [], 'h': []},
   {'identifier': 'penalties_missed', 'a': [], 'h': []},
   {'identifier': 'yellow_cards',
    'a': [{'value': 1, 'element': 326},
     {'value': 1, 'element': 457},
     {'value': 1, 'element': 581}],
    'h': []},
   {'identifier': 'red_cards', 'a': [], 'h': []},
   {'identifier': 'saves',
    'a': [{'value': 3, 'element': 448}],
    'h': [{'value': 1, 'element': 452}]},
   {'identifier': 'bonus',
    'a': [{'value': 2, 'element': 315}, {'value': 1, 'element': 471}],
    'h': [{'value': 3, 'element': 470}, {'value': 1, 'element': 426}]},
   {'identifier': 'bps',
    'a': [{'value': 21, 'element': 315},
     {'value': 19, 'element': 471},
     {'value': 14, 'element': 326},
     {'value': 14, 'element': 448},
     {'value': 12, 'element': 323},
     {'value': 12, 'element': 327},
     {'value': 12, 'element': 456},
     {'value': 11, 'element': 321},
     {'value': 11, 'element': 457},
     {'value': 9, 'element': 581},
     {'value': 8, 'element': 145},
     {'value': 4, 'element': 319},
     {'value': 4, 'element': 648},
     {'value': 1, 'element': 317}],
    'h': [{'value': 26, 'element': 470},
     {'value': 19, 'element': 426},
     {'value': 17, 'element': 433},
     {'value': 16, 'element': 685},
     {'value': 15, 'element': 428},
     {'value': 15, 'element': 436},
     {'value': 12, 'element': 429},
     {'value': 9, 'element': 430},
     {'value': 9, 'element': 452},
     {'value': 7, 'element': 689},
     {'value': 5, 'element': 438},
     {'value': 5, 'element': 441},
     {'value': 4, 'element': 583}]}],
  'team_h_difficulty': 2,
  'team_a_difficulty': 3,
  'pulse_id': 66711},
 {'code': 2210632,
  'event': 37,
  'finished': True,
  'finished_provisional': True,
  'id': 362,
  'kickoff_time': '2022-05-15T15:30:00Z',
  'minutes': 90,
  'provisional_start_time': False,
  'started': True,
  'team_a': 3,
  'team_a_score': 3,
  'team_h': 8,
  'team_h_score': 2,
  'stats': [{'identifier': 'goals_scored',
    'a': [{'value': 1, 'element': 83}, {'value': 1, 'element': 524}],
    'h': [{'value': 1, 'element': 177}, {'value': 1, 'element': 180}]},
   {'identifier': 'assists',
    'a': [{'value': 1, 'element': 77},
     {'value': 1, 'element': 524},
     {'value': 1, 'element': 699}],
    'h': [{'value': 1, 'element': 180}]},
   {'identifier': 'own_goals', 'a': [], 'h': [{'value': 1, 'element': 165}]},
   {'identifier': 'penalties_saved', 'a': [], 'h': []},
   {'identifier': 'penalties_missed', 'a': [], 'h': []},
   {'identifier': 'yellow_cards',
    'a': [{'value': 1, 'element': 77},
     {'value': 1, 'element': 90},
     {'value': 1, 'element': 483}],
    'h': []},
   {'identifier': 'red_cards',
    'a': [],
    'h': [{'value': 1, 'element': 544}, {'value': 1, 'element': 591}]},
   {'identifier': 'saves',
    'a': [{'value': 3, 'element': 80}],
    'h': [{'value': 4, 'element': 170}]},
   {'identifier': 'bonus',
    'a': [{'value': 1, 'element': 524}],
    'h': [{'value': 3, 'element': 180}, {'value': 2, 'element': 177}]},
   {'identifier': 'bps',
    'a': [{'value': 30, 'element': 524},
     {'value': 29, 'element': 699},
     {'value': 26, 'element': 83},
     {'value': 25, 'element': 77},
     {'value': 18, 'element': 80},
     {'value': 13, 'element': 76},
     {'value': 12, 'element': 86},
     {'value': 11, 'element': 84},
     {'value': 11, 'element': 96},
     {'value': 7, 'element': 82},
     {'value': 5, 'element': 483},
     {'value': 3, 'element': 78},
     {'value': 2, 'element': 89},
     {'value': -1, 'element': 90}],
    'h': [{'value': 39, 'element': 180},
     {'value': 32, 'element': 177},
     {'value': 20, 'element': 170},
     {'value': 9, 'element': 174},
     {'value': 8, 'element': 172},
     {'value': 8, 'element': 178},
     {'value': 6, 'element': 484},
     {'value': 6, 'element': 675},
     {'value': 5, 'element': 165},
     {'value': 5, 'element': 173},
     {'value': 5, 'element': 502},
     {'value': 4, 'element': 503},
     {'value': -7, 'element': 544},
     {'value': -8, 'element': 591}]}],
  'team_h_difficulty': 2,
  'team_a_difficulty': 2,
  'pulse_id': 66703},
 {'code': 2210635,
  'event': 37,
  'finished': False,
  'finished_provisional': False,
  'id': 365,
  'kickoff_time': '2022-05-16T19:00:00Z',
  'minutes': 0,
  'provisional_start_time': False,
  'started': False,
  'team_a': 1,
  'team_a_score': None,
  'team_h': 14,
  'team_h_score': None,
  'stats': [],
  'team_h_difficulty': 4,
  'team_a_difficulty': 3,
  'pulse_id': 66706},
 {'code': 2210636,
  'event': 37,
  'finished': False,
  'finished_provisional': False,
  'id': 366,
  'kickoff_time': '2022-05-17T18:45:00Z',
  'minutes': 0,
  'provisional_start_time': False,
  'started': False,
  'team_a': 11,
  'team_a_score': None,
  'team_h': 16,
  'team_h_score': None,
  'stats': [],
  'team_h_difficulty': 4,
  'team_a_difficulty': 3,
  'pulse_id': 66707},
 {'code': 2210592,
  'event': 37,
  'finished': False,
  'finished_provisional': False,
  'id': 322,
  'kickoff_time': '2022-05-19T18:45:00Z',
  'minutes': 0,
  'provisional_start_time': False,
  'started': False,
  'team_a': 7,
  'team_a_score': None,
  'team_h': 8,
  'team_h_score': None,
  'stats': [],
  'team_h_difficulty': 2,
  'team_a_difficulty': 2,
  'pulse_id': 66663},
 {'code': 2210441,
  'event': 37,
  'finished': False,
  'finished_provisional': False,
  'id': 171,
  'kickoff_time': '2022-05-19T19:00:00Z',
  'minutes': 0,
  'provisional_start_time': False,
  'started': False,
  'team_a': 5,
  'team_a_score': None,
  'team_h': 2,
  'team_h_score': None,
  'stats': [],
  'team_h_difficulty': 2,
  'team_a_difficulty': 2,
  'pulse_id': 66512},
 {'code': 2210534,
  'event': 37,
  'finished': False,
  'finished_provisional': False,
  'id': 264,
  'kickoff_time': '2022-05-19T19:00:00Z',
  'minutes': 0,
  'provisional_start_time': False,
  'started': False,
  'team_a': 9,
  'team_a_score': None,
  'team_h': 6,
  'team_h_score': None,
  'stats': [],
  'team_h_difficulty': 2,
  'team_a_difficulty': 4,
  'pulse_id': 66605}]

In [41]:
def fixtures_table():
    response = get_fixtures(FIXTURES_URL)
    fixtures_df = pd.DataFrame(response)
    fixtures_df = (fixtures_df
                   .drop(columns=['stats']) # extracting fixture stats left as an exercise
                   .astype({'code': 'int32',
                            'event': 'Int8',
                            'id': 'int16',
                            'minutes': 'int8',
                            'team_h': 'int8',
                            'team_a': 'int8',
                            'team_a_score': 'Int8',
                            'team_h_score': 'Int8',
                            'team_h_difficulty': 'int8',
                            'team_a_difficulty': 'int8',
                            'pulse_id': 'int32'
                           })
                   .rename(columns={'code': 'fixture_code',
                                    'event': 'gameweek_id',
                                    'id': 'fixture_id',
                                    'team_h': 'home_team_id',
                                    'team_a': 'away_team_id'
                                   })
                  )
    cols_to_move = ['fixture_id', 'fixture_code', 'gameweek_id']
    fixtures_df = fixtures_df[cols_to_move + [ col for col in fixtures_df.columns if col not in cols_to_move ]]
    return fixtures_df

In [42]:
fixtures = fixtures_table()
print(fixtures.shape)
fixtures.head()

(380, 16)

,fixture_id,fixture_code,gameweek_id,finished,finished_provisional,kickoff_time,minutes,provisional_start_time,started,away_team_id,team_a_score,home_team_id,team_h_score,team_h_difficulty,team_a_difficulty,pulse_id
0,1,2210271,1,True,True,2021-08-13T19:00:00Z,90,False,True,1,0,3,2,4,2,66342
1,6,2210276,1,True,True,2021-08-14T11:30:00Z,90,False,True,10,1,13,5,2,4,66347
2,2,2210272,1,True,True,2021-08-14T14:00:00Z,90,False,True,4,2,5,1,2,2,66343
3,3,2210273,1,True,True,2021-08-14T14:00:00Z,90,False,True,7,0,6,3,2,4,66344
4,4,2210274,1,True,True,2021-08-14T14:00:00Z,90,False,True,16,1,8,3,2,2,66345

In [43]:
fixtures.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fixture_id              380 non-null    int16
 1   fixture_code            380 non-null    int32
 2   gameweek_id             380 non-null    Int8
 3   finished                380 non-null    bool
 4   finished_provisional    380 non-null    bool
 5   kickoff_time            380 non-null    object
 6   minutes                 380 non-null    int8
 7   provisional_start_time  380 non-null    bool
 8   started                 380 non-null    bool
 9   away_team_id            380 non-null    int8
 10  team_a_score            365 non-null    Int8
 11  home_team_id            380 non-null    int8
 12  team_h_score            365 non-null    Int8
 13  team_h_difficulty       380 non-null    int8
 14  team_a_difficulty       380 non-null    int8
 15  pulse_id                380 non-null    int32
dtypes: Int8(3), bool(4), int16(1), int32(2), int8(5), object(1)
memory usage: 12.4+ KB

In [44]:
con, cursor = sql_connection('fpl.db')
drop_table_if_exists(cursor, con, 'fixtures')
fixtures.to_sql(name='fixtures', con=con, if_exists='replace', index=False, dtype={'fixture_id': 'INTEGER PRIMARY KEY',
                                                                                   'finished': 'INT',
                                                                                   'finished_provisional': 'INT',
                                                                                   'started': 'INT'
                                                                                  })
con.commit()
con.close()

## Summary
We have extracted fantasy premier league data using the API, transformed the data using pandas, and loaded the data into a SQLite database. In part 2, we will query the database and compare SQL queries with pandas equivalents.