# Storing Fantasy Premier League data in a database - part 2
- Author: Steffan Rees
- 19/04/2022

## Background
This notebook follows on from **Storing Fantasy Premier League data in a database - part 1** where we extracted fantasy premier league data from the API and stored the transformed data in a SQLite database.

In this notebook we will query the data using SQL and pandas.

It's worth noting that the database and its tables can also be accessed using SQLite Studio.

Pandas has a guide for comparing pandas operations with SQL https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html.

In [1]:
# Import libraries
import pandas as pd
import sqlite3
from pandasql import sqldf
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re

In [2]:
# Connect to the database
def sql_connection(db):
    try:
        con = sqlite3.connect(db)
    except Error:
        print(Error)
        
    cursor = con.cursor()
    return con, cursor

In [3]:
con, cursor = sql_connection('fpl.db')

## List the tables in the database

In [4]:
# Using SQLite
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('gameweeks',), ('teams',), ('positions',), ('players',), ('player_stats',), ('fixtures',)]

In [5]:
# Using pandas
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", con)

           name
0     gameweeks
1         teams
2     positions
3       players
4  player_stats
5      fixtures

## Import data into dataframe

### Teams

In [6]:
teams = pd.read_sql_query("SELECT * FROM teams", con)
print(teams.shape)
teams.head()

(20, 21)

,team_id,team_code,team_name,team_short_name,draw,form,loss,played,points,position,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,1,3,Arsenal,ARS,0,None,0,0,0,0,...,None,0,0,1250,1270,1150,1210,1190,1220,1
1,2,7,Aston Villa,AVL,0,None,0,0,0,0,...,None,0,0,1100,1100,1140,1110,1090,1090,2
2,3,94,Brentford,BRE,0,None,0,0,0,0,...,None,0,0,1060,1070,1120,1150,1080,1120,130
3,4,36,Brighton,BHA,0,None,0,0,0,0,...,None,0,0,1100,1090,1160,1160,1100,1120,131
4,5,90,Burnley,BUR,0,None,0,0,0,0,...,None,0,0,1060,1060,1080,1130,1060,1100,43

In [7]:
teams.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   team_id                20 non-null     int64
 1   team_code              20 non-null     int64
 2   team_name              20 non-null     object
 3   team_short_name        20 non-null     object
 4   draw                   20 non-null     int64
 5   form                   0 non-null      object
 6   loss                   20 non-null     int64
 7   played                 20 non-null     int64
 8   points                 20 non-null     int64
 9   position               20 non-null     int64
 10  strength               20 non-null     int64
 11  team_division          0 non-null      object
 12  unavailable            20 non-null     int64
 13  win                    20 non-null     int64
 14  strength_overall_home  20 non-null     int64
 15  strength_overall_away  20 non-null     int64
 16  strength_attack_home   20 non-null     int64
 17  strength_attack_away   20 non-null     int64
 18  strength_defence_home  20 non-null     int64
 19  strength_defence_away  20 non-null     int64
 20  pulse_id               20 non-null     int64
dtypes: int64(17), object(4)
memory usage: 3.4+ KB

### Gameweeks

In [8]:
gameweeks = pd.read_sql_query("SELECT * FROM gameweeks", con, dtype={'highest_scoring_entry_id': 'Int32',
                                                                     'highest_score': 'Int32',
                                                                     'most_selected_id': 'Int32',
                                                                     'most_transferred_in_id': 'Int32',
                                                                     'top_player_id': 'Int32',
                                                                     'most_captained_id': 'Int32',
                                                                     'most_vice_captained_id': 'Int32',
                                                                     'most_points_score': 'Int8',
                                                                     'bboost_played': 'Int32',
                                                                     'freehit_played': 'Int32',
                                                                     'wildcard_played': 'Int32',
                                                                     'triple_captain_played': 'Int32'
                                                                    })
print(gameweeks.shape)
gameweeks.head()

(38, 26)

,gameweek_id,gameweek_name,deadline_time,average_entry_score,finished,data_checked,highest_scoring_entry_id,deadline_time_epoch,deadline_time_game_offset,highest_score,...,most_transferred_in_id,top_player_id,transfers_made,most_captained_id,most_vice_captained_id,most_points_score,bboost_played,freehit_played,wildcard_played,triple_captain_played
0,1,Gameweek 1,2021-08-13T17:30:00Z,69,1,1,5059647,1628875800,0,150,...,1,277,0,233,277,20,145658,<NA>,<NA>,225749
1,2,Gameweek 2,2021-08-21T10:00:00Z,56,1,1,6882931,1629540000,0,146,...,272,142,12038724,233,277,18,95038,102410,277209,269514
2,3,Gameweek 3,2021-08-28T10:00:00Z,54,1,1,7516002,1630144800,0,119,...,419,268,15553648,277,277,18,94049,117627,372083,138714
3,4,Gameweek 4,2021-09-11T10:00:00Z,57,1,1,7797969,1631354400,0,120,...,579,432,28985870,233,233,13,77204,168976,1117718,157121
4,5,Gameweek 5,2021-09-17T17:30:00Z,55,1,1,3139954,1631899800,0,144,...,579,44,18706283,233,579,15,49533,127510,708431,104192

In [9]:
gameweeks.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gameweek_id                38 non-null     int64
 1   gameweek_name              38 non-null     object
 2   deadline_time              38 non-null     object
 3   average_entry_score        38 non-null     int64
 4   finished                   38 non-null     int64
 5   data_checked               38 non-null     int64
 6   highest_scoring_entry_id   37 non-null     Int32
 7   deadline_time_epoch        38 non-null     int64
 8   deadline_time_game_offset  38 non-null     int64
 9   highest_score              37 non-null     Int32
 10  is_previous                38 non-null     int64
 11  is_current                 38 non-null     int64
 12  is_next                    38 non-null     int64
 13  cup_leagues_created        38 non-null     int64
 14  h2h_ko_matches_created     38 non-null     int64
 15  most_selected_id           37 non-null     Int32
 16  most_transferred_in_id     37 non-null     Int32
 17  top_player_id              37 non-null     Int32
 18  transfers_made             38 non-null     int64
 19  most_captained_id          37 non-null     Int32
 20  most_vice_captained_id     37 non-null     Int32
 21  most_points_score          37 non-null     Int8
 22  bboost_played              37 non-null     Int32
 23  freehit_played             36 non-null     Int32
 24  wildcard_played            36 non-null     Int32
 25  triple_captain_played      37 non-null     Int32
dtypes: Int32(11), Int8(1), int64(12), object(2)
memory usage: 6.4+ KB

### Fixtures

In [10]:
fixtures = pd.read_sql_query("SELECT * FROM fixtures", con, dtype={'gameweek_id': 'Int8',
                                                                   'started': 'Int8',
                                                                   'away_team_score': 'Int8',
                                                                   'home_team_score': 'Int8'
                                                                  })
print(fixtures.shape)
fixtures.head()

(380, 16)

,fixture_id,fixture_code,gameweek_id,finished,finished_provisional,kickoff_time,minutes,provisional_start_time,started,away_team_id,away_team_score,home_team_id,home_team_score,home_team_difficulty,away_team_difficulty,pulse_id
0,1,2210271,1,1,1,2021-08-13T19:00:00Z,90,0,1,1,0,3,2,4,2,66342
1,2,2210272,1,1,1,2021-08-14T14:00:00Z,90,0,1,4,2,5,1,2,2,66343
2,3,2210273,1,1,1,2021-08-14T14:00:00Z,90,0,1,7,0,6,3,2,4,66344
3,4,2210274,1,1,1,2021-08-14T14:00:00Z,90,0,1,16,1,8,3,2,2,66345
4,5,2210275,1,1,1,2021-08-14T14:00:00Z,90,0,1,20,0,9,1,3,3,66346

In [11]:
fixtures.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fixture_id              380 non-null    int64
 1   fixture_code            380 non-null    int64
 2   gameweek_id             380 non-null    Int8
 3   finished                380 non-null    int64
 4   finished_provisional    380 non-null    int64
 5   kickoff_time            380 non-null    object
 6   minutes                 380 non-null    int64
 7   provisional_start_time  380 non-null    int64
 8   started                 380 non-null    Int8
 9   away_team_id            380 non-null    int64
 10  away_team_score         366 non-null    Int8
 11  home_team_id            380 non-null    int64
 12  home_team_score         366 non-null    Int8
 13  home_team_difficulty    380 non-null    int64
 14  away_team_difficulty    380 non-null    int64
 15  pulse_id                380 non-null    int64
dtypes: Int8(4), int64(11), object(1)
memory usage: 38.7+ KB

### Players

In [12]:
players = pd.read_sql_query("SELECT * FROM players", con)
print(players.shape)
players.head()

(736, 66)

,player_id,player_code,first_name,second_name,web_name,team_id,team_code,chance_of_playing_next_round,chance_of_playing_this_round,cost_change_event,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,1,80201,Bernd,Leno,Leno,1,3,100.0,100.0,0,...,598,60,442,30,NaN,,NaN,,NaN,
1,2,115918,Rúnar Alex,Rúnarsson,Rúnarsson,1,3,0.0,0.0,0,...,490,19,541,55,NaN,,NaN,,NaN,
2,3,47431,Willian,Borges Da Silva,Willian,1,3,0.0,0.0,0,...,732,306,732,306,NaN,,NaN,,NaN,
3,4,54694,Pierre-Emerick,Aubameyang,Aubameyang,1,3,0.0,0.0,0,...,56,24,174,31,NaN,,NaN,,NaN,
4,5,58822,Cédric,Soares,Cédric,1,3,100.0,100.0,0,...,319,104,261,86,2.0,,3.0,,NaN,

In [13]:
players.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 66 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             736 non-null    int64
 1   player_code                           736 non-null    int64
 2   first_name                            736 non-null    object
 3   second_name                           736 non-null    object
 4   web_name                              736 non-null    object
 5   team_id                               736 non-null    int64
 6   team_code                             736 non-null    int64
 7   chance_of_playing_next_round          570 non-null    float64
 8   chance_of_playing_this_round          569 non-null    float64
 9   cost_change_event                     736 non-null    int64
 10  cost_change_event_fall                736 non-null    int64
 11  cost_change_start                     736 non-null    int64
 12  cost_change_start_fall                736 non-null    int64
 13  dreamteam_count                       736 non-null    int64
 14  position_id                           736 non-null    int64
 15  ep_next                               736 non-null    float64
 16  ep_this                               736 non-null    float64
 17  event_points                          736 non-null    int64
 18  form                                  736 non-null    float64
 19  in_dreamteam                          736 non-null    int64
 20  news                                  736 non-null    object
 21  news_added                            570 non-null    object
 22  now_cost                              736 non-null    float64
 23  points_per_game                       736 non-null    float64
 24  selected_by_percent                   736 non-null    float64
 25  special                               736 non-null    int64
 26  squad_number                          0 non-null      object
 27  status                                736 non-null    object
 28  total_points                          736 non-null    int64
 29  transfers_in                          736 non-null    int64
 30  transfers_in_event                    736 non-null    int64
 31  transfers_out                         736 non-null    int64
 32  transfers_out_event                   736 non-null    int64
 33  value_form                            736 non-null    float64
 34  value_season                          736 non-null    float64
 35  minutes                               736 non-null    int64
 36  goals_scored                          736 non-null    int64
 37  assists                               736 non-null    int64
 38  clean_sheets                          736 non-null    int64
 39  goals_conceded                        736 non-null    int64
 40  own_goals                             736 non-null    int64
 41  penalties_saved                       736 non-null    int64
 42  penalties_missed                      736 non-null    int64
 43  yellow_cards                          736 non-null    int64
 44  red_cards                             736 non-null    int64
 45  saves                                 736 non-null    int64
 46  bonus                                 736 non-null    int64
 47  bps                                   736 non-null    int64
 48  influence                             736 non-null    float64
 49  creativity                            736 non-null    float64
 50  threat                                736 non-null    float64
 51  ict_index                             736 non-null    float64
 52  influence_rank                        736 non-null    int64
 53  influence_rank_type                   736 non-null    int64
 54  creativity_rank                       736 non-null    int64
 55  creativity_rank_type                  736 non-null    int64
 56  threat_rank                           736 non-null    int64
 57  threat_rank_type                      736 non-null    int64
 58  ict_index_rank                        736 non-null    int64
 59  ict_index_rank_type                   736 non-null    int64
 60  corners_and_indirect_freekicks_order  84 non-null     float64
 61  corners_and_indirect_freekicks_text   736 non-null    object
 62  direct_freekicks_order                83 non-null     float64
 63  direct_freekicks_text                 736 non-null    object
 64  penalties_order                       66 non-null     float64
 65  penalties_text                        736 non-null    object
dtypes: float64(17), int64(39), object(10)
memory usage: 379.6+ KB

### Positions

In [14]:
positions = pd.read_sql_query("SELECT * FROM positions", con)
print(positions.shape)
positions.head()

(4, 9)

,position_id,position_name_short,position_name,squad_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,GKP,Goalkeeper,2,1,1,1,12.0,83
1,2,DEF,Defender,5,3,5,0,NaN,247
2,3,MID,Midfielder,5,2,5,0,NaN,308
3,4,FWD,Forward,3,1,3,0,NaN,98

In [15]:
positions.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   position_id           4 non-null      int64
 1   position_name_short   4 non-null      object
 2   position_name         4 non-null      object
 3   squad_select          4 non-null      int64
 4   squad_min_play        4 non-null      int64
 5   squad_max_play        4 non-null      int64
 6   ui_shirt_specific     4 non-null      int64
 7   sub_positions_locked  1 non-null      float64
 8   element_count         4 non-null      int64
dtypes: float64(1), int64(6), object(2)
memory usage: 416.0+ bytes

## Queries

### Add team name and position to players data

#### SQLite

In [16]:
query = """
SELECT 
    pl.player_id,
    pl.first_name,
    pl.second_name,
    pl.team_id,
    t.team_name,
    pl.position_id,
    po.position_name
FROM players as pl 
INNER JOIN positions as po
    ON po.position_id = pl.position_id
INNER JOIN teams as t
    on t.team_id = pl.team_id
ORDER BY pl.player_id ASC;
"""

cursor.execute(query)
print(cursor.fetchall())

[(1, 'Bernd', 'Leno', 1, 'Arsenal', 1, 'Goalkeeper'), (2, 'Rúnar Alex', 'Rúnarsson', 1, 'Arsenal', 1, 'Goalkeeper'), (3, 'Willian', 'Borges Da Silva', 1, 'Arsenal', 3, 'Midfielder'), (4, 'Pierre-Emerick', 'Aubameyang', 1, 'Arsenal', 4, 'Forward'), (5, 'Cédric', 'Soares', 1, 'Arsenal', 2, 'Defender'), (6, 'Alexandre', 'Lacazette', 1, 'Arsenal', 4, 'Forward'), (7, 'Granit', 'Xhaka', 1, 'Arsenal', 3, 'Midfielder'), (8, 'Pablo', 'Marí', 1, 'Arsenal', 2, 'Defender'), (9, 'Héctor', 'Bellerín', 1, 'Arsenal', 2, 'Defender'), (10, 'Calum', 'Chambers', 2, 'Aston Villa', 2, 'Defender'), (11, 'Sead', 'Kolasinac', 1, 'Arsenal', 2, 'Defender'), (12, 'Mohamed Naser', 'El Sayed Elneny', 1, 'Arsenal', 3, 'Midfielder'), (13, 'Ainsley', 'Maitland-Niles', 1, 'Arsenal', 3, 'Midfielder'), (14, 'Rob', 'Holding', 1, 'Arsenal', 2, 'Defender'), (15, 'Thomas', 'Partey', 1, 'Arsenal', 3, 'Midfielder'), (16, 'Kieran', 'Tierney', 1, 'Arsenal', 2, 'Defender'), (17, 'Nicolas', 'Pépé', 1, 'Arsenal', 3, 'Midfielder'), (18, 'Lucas', 'Torreira', 1, 'Arsenal', 3, 'Midfielder'), (19, 'Joseph', 'Willock', 14, 'Newcastle', 3, 'Midfielder'), (20, 'Edward', 'Nketiah', 1, 'Arsenal', 4, 'Forward'), (21, 'Emile', 'Smith Rowe', 1, 'Arsenal', 3, 'Midfielder'), (22, 'Bukayo', 'Saka', 1, 'Arsenal', 3, 'Midfielder'), (23, 'Gabriel', 'Magalhães', 1, 'Arsenal', 2, 'Defender'), (24, 'Konstantinos', 'Mavropanos', 1, 'Arsenal', 2, 'Defender'), (25, 'Mattéo', 'Guendouzi', 1, 'Arsenal', 3, 'Midfielder'), (26, 'Gabriel Teodoro', 'Martinelli Silva', 1, 'Arsenal', 3, 'Midfielder'), (27, 'William', 'Saliba', 1, 'Arsenal', 2, 'Defender'), (28, 'Jed', 'Steer', 2, 'Aston Villa', 1, 'Goalkeeper'), (29, 'Conor', 'Hourihane', 2, 'Aston Villa', 3, 'Midfielder'), (30, 'Emiliano', 'Martínez', 2, 'Aston Villa', 1, 'Goalkeeper'), (31, 'Björn', 'Engels', 2, 'Aston Villa', 2, 'Defender'), (32, 'Bertrand', 'Traoré', 2, 'Aston Villa', 3, 'Midfielder'), (33, 'Jack', 'Grealish', 12, 'Man City', 3, 'Midfielder'), (34, 'Morgan', 'Sanson', 2, 'Aston Villa', 3, 'Midfielder'), (35, 'John', 'McGinn', 2, 'Aston Villa', 3, 'Midfielder'), (36, 'Kortney', 'Hause', 2, 'Aston Villa', 2, 'Defender'), (37, 'Mahmoud Ahmed', 'Ibrahim Hassan', 2, 'Aston Villa', 3, 'Midfielder'), (38, 'Tyrone', 'Mings', 2, 'Aston Villa', 2, 'Defender'), (39, 'Matt', 'Targett', 14, 'Newcastle', 2, 'Defender'), (40, 'Ollie', 'Watkins', 2, 'Aston Villa', 4, 'Forward'), (41, 'Marvelous', 'Nakamba', 2, 'Aston Villa', 3, 'Midfielder'), (42, 'Anwar', 'El Ghazi', 8, 'Everton', 3, 'Midfielder'), (43, 'Emiliano', 'Buendía Stati', 2, 'Aston Villa', 3, 'Midfielder'), (44, 'Matthew', 'Cash', 2, 'Aston Villa', 2, 'Defender'), (45, 'Ezri', 'Konsa Ngoyo', 2, 'Aston Villa', 2, 'Defender'), (46, 'Frédéric', 'Guilbert', 2, 'Aston Villa', 2, 'Defender'), (47, 'Wesley', 'Moraes', 2, 'Aston Villa', 4, 'Forward'), (48, 'Mbwana Ally', 'Samatta', 2, 'Aston Villa', 4, 'Forward'), (49, 'Keinan', 'Davis', 2, 'Aston Villa', 4, 'Forward'), (50, 'Douglas Luiz', 'Soares de Paulo', 2, 'Aston Villa', 3, 'Midfielder'), (51, 'Jacob', 'Ramsey', 2, 'Aston Villa', 3, 'Midfielder'), (52, 'Ashley', 'Young', 2, 'Aston Villa', 2, 'Defender'), (53, 'Adam', 'Lallana', 4, 'Brighton', 3, 'Midfielder'), (54, 'Jason', 'Steele', 4, 'Brighton', 1, 'Goalkeeper'), (55, 'Pascal', 'Groß', 4, 'Brighton', 3, 'Midfielder'), (56, 'Shane', 'Duffy', 4, 'Brighton', 2, 'Defender'), (57, 'Davy', 'Pröpper', 4, 'Brighton', 3, 'Midfielder'), (58, 'Dan', 'Burn', 14, 'Newcastle', 2, 'Defender'), (59, 'Lewis', 'Dunk', 4, 'Brighton', 2, 'Defender'), (60, 'Solomon', 'March', 4, 'Brighton', 3, 'Midfielder'), (61, 'Adam', 'Webster', 4, 'Brighton', 2, 'Defender'), (62, 'Joël', 'Veltman', 4, 'Brighton', 2, 'Defender'), (63, 'Neal', 'Maupay', 4, 'Brighton', 4, 'Forward'), (64, 'Leandro', 'Trossard', 4, 'Brighton', 3, 'Midfielder'), (65, 'Mathew', 'Ryan', 4, 'Brighton', 1, 'Goalkeeper'), (66, 'Alireza', 'Jahanbakhsh', 4, 'Brighton', 3, 'Midfielder'), (67, 'Ben', 'White', 1, 'Arsenal', 2, 'Defender'), (68, 'Bernardo', 'Fernandes Da Silva Junior', 4, 'Brighton', 2, 'Defender'), (69, 'Robert', 'Sánchez', 4, 'Brighton', 1, 'Goalkeeper'), (70, 'Yves', 'Bissouma', 4, 'Brighton', 3, 'Midfielder'), (71, 'Tariq', 'Lamptey', 4, 'Brighton', 2, 'Defender'), (72, 'Aaron', 'Connolly', 4, 'Brighton', 4, 'Forward'), (73, 'Steven', 'Alzate', 4, 'Brighton', 3, 'Midfielder'), (74, 'Alexis', 'Mac Allister', 4, 'Brighton', 3, 'Midfielder'), (75, 'Jakub', 'Moder', 4, 'Brighton', 3, 'Midfielder'), (76, 'Pontus', 'Jansson', 3, 'Brentford', 2, 'Defender'), (77, 'Christian', 'Nørgaard', 3, 'Brentford', 3, 'Midfielder'), (78, 'Ivan', 'Toney', 3, 'Brentford', 4, 'Forward'), (79, 'Tariqe', 'Fosu-Henry', 3, 'Brentford', 3, 'Midfielder'), (80, 'David', 'Raya Martin', 3, 'Brentford', 1, 'Goalkeeper'), (81, 'Sergi', 'Canós', 3, 'Brentford', 3, 'Midfielder'), (82, 'Pelenda Joshua', 'Dasilva', 3, 'Brentford', 3, 'Midfielder'), (83, 'Rico', 'Henry', 3, 'Brentford', 2, 'Defender'), (84, 'Vitaly', 'Janelt', 3, 'Brentford', 3, 'Midfielder'), (85, 'Saman', 'Ghoddos', 3, 'Brentford', 3, 'Midfielder'), (86, 'Mathias', 'Jensen', 3, 'Brentford', 3, 'Midfielder'), (87, 'Charlie', 'Goode', 3, 'Brentford', 2, 'Defender'), (88, 'Marcus', 'Forss', 3, 'Brentford', 4, 'Forward'), (89, 'Mads', 'Roerslev Rasmussen', 3, 'Brentford', 2, 'Defender'), (90, 'Mads', 'Bech Sørensen', 3, 'Brentford', 2, 'Defender'), (91, 'Ethan', 'Pinnock', 3, 'Brentford', 2, 'Defender'), (92, 'Ellery', 'Balcombe', 3, 'Brentford', 1, 'Goalkeeper'), (93, 'Jan', 'Zamburek', 3, 'Brentford', 3, 'Midfielder'), (94, 'Patrik', 'Gunnarsson', 3, 'Brentford', 1, 'Goalkeeper'), (95, 'Halil', 'Dervişoğlu', 3, 'Brentford', 4, 'Forward'), (96, 'Bryan', 'Mbeumo', 3, 'Brentford', 3, 'Midfielder'), (97, 'Mads', 'Bidstrup', 3, 'Brentford', 3, 'Midfielder'), (98, 'James', 'Tarkowski', 5, 'Burnley', 2, 'Defender'), (99, 'Phil', 'Bardsley', 5, 'Burnley', 2, 'Defender'), (100, 'Erik', 'Pieters', 5, 'Burnley', 2, 'Defender'), (101, 'Jack', 'Cork', 5, 'Burnley', 3, 'Midfielder'), (102, 'Dale', 'Stephens', 5, 'Burnley', 3, 'Midfielder'), (103, 'Kevin', 'Long', 5, 'Burnley', 2, 'Defender'), (104, 'Jay', 'Rodriguez', 5, 'Burnley', 4, 'Forward'), (105, 'Ashley', 'Barnes', 5, 'Burnley', 4, 'Forward'), (106, 'Ben', 'Mee', 5, 'Burnley', 2, 'Defender'), (107, 'Ashley', 'Westwood', 5, 'Burnley', 3, 'Midfielder'), (108, 'Johann Berg', 'Gudmundsson', 5, 'Burnley', 3, 'Midfielder'), (109, 'Chris', 'Wood', 14, 'Newcastle', 4, 'Forward'), (110, 'Matthew', 'Lowton', 5, 'Burnley', 2, 'Defender'), (111, 'Matej', 'Vydra', 5, 'Burnley', 4, 'Forward'), (112, 'Nick', 'Pope', 5, 'Burnley', 1, 'Goalkeeper'), (113, 'Charlie', 'Taylor', 5, 'Burnley', 2, 'Defender'), (114, 'Will', 'Norris', 5, 'Burnley', 1, 'Goalkeeper'), (115, 'Josh', 'Brownhill', 5, 'Burnley', 3, 'Midfielder'), (116, 'Josh', 'Benson', 5, 'Burnley', 3, 'Midfielder'), (117, 'Bailey', 'Peacock-Farrell', 5, 'Burnley', 1, 'Goalkeeper'), (118, 'Dwight', 'McNeil', 5, 'Burnley', 3, 'Midfielder'), (119, 'César', 'Azpilicueta', 6, 'Chelsea', 2, 'Defender'), (120, 'Olivier', 'Giroud', 6, 'Chelsea', 4, 'Forward'), (121, 'Thiago', 'Emiliano da Silva', 6, 'Chelsea', 2, 'Defender'), (122, 'Marcos', 'Alonso', 6, 'Chelsea', 2, 'Defender'), (123, 'Jorge Luiz', 'Frello Filho', 6, 'Chelsea', 3, 'Midfielder'), (124, 'Ross', 'Barkley', 6, 'Chelsea', 3, 'Midfielder'), (125, 'Mateo', 'Kovacic', 6, 'Chelsea', 3, 'Midfielder'), (126, 'Michy', 'Batshuayi', 6, 'Chelsea', 4, 'Forward'), (127, 'Antonio', 'Rüdiger', 6, 'Chelsea', 2, 'Defender'), (128, 'Kurt', 'Zouma', 19, 'West Ham', 2, 'Defender'), (129, 'Kepa', 'Arrizabalaga', 6, 'Chelsea', 1, 'Goalkeeper'), (130, "N'Golo", 'Kanté', 6, 'Chelsea', 3, 'Midfielder'), (131, 'Hakim', 'Ziyech', 6, 'Chelsea', 3, 'Midfielder'), (132, 'Ruben', 'Loftus-Cheek', 6, 'Chelsea', 3, 'Midfielder'), (133, 'Andreas', 'Christensen', 6, 'Chelsea', 2, 'Defender'), (134, 'Timo', 'Werner', 6, 'Chelsea', 4, 'Forward'), (135, 'Benjamin', 'Chilwell', 6, 'Chelsea', 2, 'Defender'), (136, 'Tammy', 'Abraham', 6, 'Chelsea', 4, 'Forward'), (137, 'Christian', 'Pulisic', 6, 'Chelsea', 3, 'Midfielder'), (138, 'Mason', 'Mount', 6, 'Chelsea', 3, 'Midfielder'), (139, 'Ethan', 'Ampadu', 6, 'Chelsea', 2, 'Defender'), (140, 'Callum', 'Hudson-Odoi', 6, 'Chelsea', 3, 'Midfielder'), (141, 'Kai', 'Havertz', 6, 'Chelsea', 3, 'Midfielder'), (142, 'Reece', 'James', 6, 'Chelsea', 2, 'Defender'), (143, 'Edouard', 'Mendy', 6, 'Chelsea', 1, 'Goalkeeper'), (144, 'Conor', 'Gallagher', 7, 'Crystal Palace', 3, 'Midfielder'), (145, 'Billy', 'Gilmour', 15, 'Norwich', 3, 'Midfielder'), (146, 'Vicente', 'Guaita', 7, 'Crystal Palace', 1, 'Goalkeeper'), (147, 'James', 'Tomkins', 7, 'Crystal Palace', 2, 'Defender'), (148, 'James', 'McArthur', 7, 'Crystal Palace', 3, 'Midfielder'), (149, 'Christian', 'Benteke', 7, 'Crystal Palace', 4, 'Forward'), (150, 'Cheikhou', 'Kouyaté', 7, 'Crystal Palace', 2, 'Defender'), (151, 'Martin', 'Kelly', 7, 'Crystal Palace', 2, 'Defender'), (152, 'Luka', 'Milivojevic', 7, 'Crystal Palace', 3, 'Midfielder'), (153, 'Jordan', 'Ayew', 7, 'Crystal Palace', 4, 'Forward'), (154, 'Wilfried', 'Zaha', 7, 'Crystal Palace', 3, 'Midfielder'), (155, 'Jeffrey', 'Schlupp', 7, 'Crystal Palace', 3, 'Midfielder'), (156, 'Jack', 'Butland', 7, 'Crystal Palace', 1, 'Goalkeeper'), (157, 'Jairo', 'Riedewald', 7, 'Crystal Palace', 3, 'Midfielder'), (158, 'Jarosław', 'Jach', 7, 'Crystal Palace', 2, 'Defender'), (159, 'Jean-Philippe', 'Mateta', 7, 'Crystal Palace', 4, 'Forward'), (160, 'Eberechi', 'Eze', 7, 'Crystal Palace', 3, 'Midfielder'), (161, 'Nathan', 'Ferguson', 7, 'Crystal Palace', 2, 'Defender'), (162, 'Tyrick', 'Mitchell', 7, 'Crystal Palace', 2, 'Defender'), (163, 'Fabian', 'Delph', 8, 'Everton', 3, 'Midfielder'), (164, 'Gylfi', 'Sigurdsson', 8, 'Everton', 3, 'Midfielder'), (165, 'Seamus', 'Coleman', 8, 'Everton', 2, 'Defender'), (166, 'James', 'Rodríguez', 8, 'Everton', 3, 'Midfielder'), (167, 'Bernard', 'Anício Caldeira Duarte', 8, 'Everton', 3, 'Midfielder'), (168, 'Lucas', 'Digne', 2, 'Aston Villa', 2, 'Defender'), (169, 'Michael', 'Keane', 8, 'Everton', 2, 'Defender'), (170, 'Jordan', 'Pickford', 8, 'Everton', 1, 'Goalkeeper'), (171, 'Allan', 'Marques Loureiro', 8, 'Everton', 3, 'Midfielder'), (172, 'André Filipe', 'Tavares Gomes', 8, 'Everton', 3, 'Midfielder'), (173, 'Abdoulaye', 'Doucouré', 8, 'Everton', 3, 'Midfielder'), (174, 'Alex', 'Iwobi', 8, 'Everton', 3, 'Midfielder'), (175, 'Yerry', 'Mina', 8, 'Everton', 2, 'Defender'), (176, 'Tom', 'Davies', 8, 'Everton', 3, 'Midfielder'), (177, 'Dominic', 'Calvert-Lewin', 8, 'Everton', 4, 'Forward'), (178, 'Mason', 'Holgate', 8, 'Everton', 2, 'Defender'), (179, 'Ben', 'Godfrey', 8, 'Everton', 2, 'Defender'), (180, 'Richarlison', 'de Andrade', 8, 'Everton', 4, 'Forward'), (181, 'João', 'Virgínia', 8, 'Everton', 1, 'Goalkeeper'), (182, 'Pablo', 'Hernández Domínguez', 10, 'Leeds', 3, 'Midfielder'), (183, 'Francisco', 'Casilla Cortés', 10, 'Leeds', 1, 'Goalkeeper'), (184, 'Liam', 'Cooper', 10, 'Leeds', 2, 'Defender'), (185, 'Luke', 'Ayling', 10, 'Leeds', 2, 'Defender'), (186, 'Mateusz', 'Klich', 10, 'Leeds', 3, 'Midfielder'), (187, 'Rodrigo', 'Moreno', 10, 'Leeds', 4, 'Forward'), (188, 'Stuart', 'Dallas', 10, 'Leeds', 3, 'Midfielder'), (189, 'Patrick', 'Bamford', 10, 'Leeds', 4, 'Forward'), (190, 'Diego', 'Llorente', 10, 'Leeds', 2, 'Defender'), (191, 'Kalvin', 'Phillips', 10, 'Leeds', 3, 'Midfielder'), (192, 'Hélder Wander', 'Sousa de Azevedo e Costa', 10, 'Leeds', 3, 'Midfielder'), (193, 'Tyler', 'Roberts', 10, 'Leeds', 3, 'Midfielder'), (194, 'Robin', 'Koch', 10, 'Leeds', 2, 'Defender'), (195, 'Ian Carlo', 'Poveda-Ocampo', 10, 'Leeds', 3, 'Midfielder'), (196, 'Raphael', 'Dias Belloli', 10, 'Leeds', 3, 'Midfielder'), (197, 'Jamie', 'Shackleton', 10, 'Leeds', 3, 'Midfielder'), (198, 'Pascal', 'Struijk', 10, 'Leeds', 2, 'Defender'), (199, 'Illan', 'Meslier', 10, 'Leeds', 1, 'Goalkeeper'), (200, 'Kasper', 'Schmeichel', 9, 'Leicester', 1, 'Goalkeeper'), (201, 'Jonny', 'Evans', 9, 'Leicester', 2, 'Defender'), (202, 'Marc', 'Albrighton', 9, 'Leicester', 3, 'Midfielder'), (203, 'Nampalys', 'Mendy', 9, 'Leicester', 3, 'Midfielder'), (204, 'Danny', 'Ward', 9, 'Leicester', 1, 'Goalkeeper'), (205, 'Jamie', 'Vardy', 9, 'Leicester', 4, 'Forward'), (206, 'Dennis', 'Praet', 9, 'Leicester', 3, 'Midfielder'), (207, 'Ricardo Domingos', 'Barbosa Pereira', 9, 'Leicester', 2, 'Defender'), (208, 'Daniel', 'Amartey', 9, 'Leicester', 2, 'Defender'), (209, 'Timothy', 'Castagne', 9, 'Leicester', 2, 'Defender'), (210, 'Youri', 'Tielemans', 9, 'Leicester', 3, 'Midfielder'), (211, 'Ayoze', 'Pérez', 9, 'Leicester', 3, 'Midfielder'), (212, 'James', 'Maddison', 9, 'Leicester', 3, 'Midfielder'), (213, 'Kelechi', 'Iheanacho', 9, 'Leicester', 4, 'Forward'), (214, 'Hamza', 'Choudhury', 9, 'Leicester', 3, 'Midfielder'), (215, 'Harvey', 'Barnes', 9, 'Leicester', 3, 'Midfielder'), (216, 'Wilfred', 'Ndidi', 9, 'Leicester', 3, 'Midfielder'), (217, 'Çaglar', 'Söyüncü', 9, 'Leicester', 2, 'Defender'), (218, 'James', 'Justin', 9, 'Leicester', 2, 'Defender'), (219, 'Luke', 'Thomas', 9, 'Leicester', 2, 'Defender'), (220, 'Wesley', 'Fofana', 9, 'Leicester', 2, 'Defender'), (221, 'James', 'Milner', 11, 'Liverpool', 3, 'Midfielder'), (222, 'Jordan', 'Henderson', 11, 'Liverpool', 3, 'Midfielder'), (223, 'Adrián', 'San Miguel del Castillo', 11, 'Liverpool', 1, 'Goalkeeper'), (224, 'Joel', 'Matip', 11, 'Liverpool', 2, 'Defender'), (225, 'Thiago', 'Alcántara do Nascimento', 11, 'Liverpool', 3, 'Midfielder'), (226, 'Xherdan', 'Shaqiri', 11, 'Liverpool', 3, 'Midfielder'), (227, 'Alex', 'Oxlade-Chamberlain', 11, 'Liverpool', 3, 'Midfielder'), (228, 'Roberto', 'Firmino', 11, 'Liverpool', 4, 'Forward'), (229, 'Virgil', 'van Dijk', 11, 'Liverpool', 2, 'Defender'), (230, 'Sadio', 'Mané', 11, 'Liverpool', 3, 'Midfielder'), (231, 'Alisson', 'Ramses Becker', 11, 'Liverpool', 1, 'Goalkeeper'), (232, 'Fabio Henrique', 'Tavares', 11, 'Liverpool', 3, 'Midfielder'), (233, 'Mohamed', 'Salah', 11, 'Liverpool', 3, 'Midfielder'), (234, 'Andrew', 'Robertson', 11, 'Liverpool', 2, 'Defender'), (235, 'Divock', 'Origi', 11, 'Liverpool', 4, 'Forward'), (236, 'Takumi', 'Minamino', 11, 'Liverpool', 3, 'Midfielder'), (237, 'Trent', 'Alexander-Arnold', 11, 'Liverpool', 2, 'Defender'), (238, 'Joseph', 'Gomez', 11, 'Liverpool', 2, 'Defender'), (239, 'Naby', 'Keita', 11, 'Liverpool', 3, 'Midfielder'), (240, 'Diogo', 'Jota', 11, 'Liverpool', 3, 'Midfielder'), (241, 'Nathaniel', 'Phillips', 11, 'Liverpool', 2, 'Defender'), (242, 'Caoimhin', 'Kelleher', 11, 'Liverpool', 1, 'Goalkeeper'), (243, 'Ibrahima', 'Konaté', 11, 'Liverpool', 2, 'Defender'), (244, 'Curtis', 'Jones', 11, 'Liverpool', 3, 'Midfielder'), (245, 'Konstantinos', 'Tsimikas', 11, 'Liverpool', 2, 'Defender'), (246, 'Neco', 'Williams', 11, 'Liverpool', 2, 'Defender'), (247, 'Rhys', 'Williams', 11, 'Liverpool', 2, 'Defender'), (248, 'Ben', 'Davies', 11, 'Liverpool', 2, 'Defender'), (249, 'Kyle', 'Walker', 12, 'Man City', 2, 'Defender'), (250, 'Ilkay', 'Gündogan', 12, 'Man City', 3, 'Midfielder'), (251, 'Kevin', 'De Bruyne', 12, 'Man City', 3, 'Midfielder'), (252, 'John', 'Stones', 12, 'Man City', 2, 'Defender'), (253, 'Benjamin', 'Mendy', 12, 'Man City', 2, 'Defender'), (254, 'Riyad', 'Mahrez', 12, 'Man City', 3, 'Midfielder'), (255, 'Raheem', 'Sterling', 12, 'Man City', 3, 'Midfielder'), (256, 'João Pedro Cavaco', 'Cancelo', 12, 'Man City', 2, 'Defender'), (257, 'Ederson', 'Santana de Moraes', 12, 'Man City', 1, 'Goalkeeper'), (258, 'Nathan', 'Aké', 12, 'Man City', 2, 'Defender'), (259, 'Aymeric', 'Laporte', 12, 'Man City', 2, 'Defender'), (260, 'Zack', 'Steffen', 12, 'Man City', 1, 'Goalkeeper'), (261, 'Bernardo Mota', 'Veiga de Carvalho e Silva', 12, 'Man City', 3, 'Midfielder'), (262, 'Rúben Santos', 'Gato Alves Dias', 12, 'Man City', 2, 'Defender'), (263, 'Gabriel Fernando', 'de Jesus', 12, 'Man City', 4, 'Forward'), (264, 'Oleksandr', 'Zinchenko', 12, 'Man City', 2, 'Defender'), (265, 'Phil', 'Foden', 12, 'Man City', 3, 'Midfielder'), (266, 'Rodrigo', 'Hernandez', 12, 'Man City', 3, 'Midfielder'), (267, 'Jack', 'Harrison', 10, 'Leeds', 3, 'Midfielder'), (268, 'Ferran', 'Torres', 12, 'Man City', 3, 'Midfielder'), (269, 'Edinson', 'Cavani', 13, 'Man Utd', 4, 'Forward'), (270, 'David', 'de Gea', 13, 'Man Utd', 1, 'Goalkeeper'), (271, 'Nemanja', 'Matic', 13, 'Man Utd', 3, 'Midfielder'), (272, 'Paul', 'Pogba', 13, 'Man Utd', 3, 'Midfielder'), (273, 'Harry', 'Maguire', 13, 'Man Utd', 2, 'Defender'), (274, 'Frederico', 'Rodrigues de Paula Santos', 13, 'Man Utd', 3, 'Midfielder'), (275, 'Luke', 'Shaw', 13, 'Man Utd', 2, 'Defender'), (276, 'Jesse', 'Lingard', 13, 'Man Utd', 3, 'Midfielder'), (277, 'Bruno Miguel', 'Borges Fernandes', 13, 'Man Utd', 3, 'Midfielder'), (278, 'Anthony', 'Martial', 13, 'Man Utd', 4, 'Forward'), (279, 'Alex Nicolao', 'Telles', 13, 'Man Utd', 2, 'Defender'), (280, 'Dean', 'Henderson', 13, 'Man Utd', 1, 'Goalkeeper'), (281, 'Marcus', 'Rashford', 13, 'Man Utd', 3, 'Midfielder'), (282, 'Donny', 'van de Beek', 8, 'Everton', 3, 'Midfielder'), (283, 'Axel', 'Tuanzebe', 13, 'Man Utd', 2, 'Defender'), (284, 'Victor', 'Lindelöf', 13, 'Man Utd', 2, 'Defender'), (285, 'Scott', 'McTominay', 13, 'Man Utd', 3, 'Midfielder'), (286, 'Eric', 'Bailly', 13, 'Man Utd', 2, 'Defender'), (287, 'Daniel', 'James', 10, 'Leeds', 3, 'Midfielder'), (288, 'Aaron', 'Wan-Bissaka', 13, 'Man Utd', 2, 'Defender'), (289, 'Mason', 'Greenwood', 13, 'Man Utd', 3, 'Midfielder'), (290, 'Brandon', 'Williams', 15, 'Norwich', 2, 'Defender'), (291, 'Jonjo', 'Shelvey', 14, 'Newcastle', 3, 'Midfielder'), (292, 'Matt', 'Ritchie', 14, 'Newcastle', 2, 'Defender'), (293, 'Ciaran', 'Clark', 14, 'Newcastle', 2, 'Defender'), (294, 'Karl', 'Darlow', 14, 'Newcastle', 1, 'Goalkeeper'), (295, 'Martin', 'Dubravka', 14, 'Newcastle', 1, 'Goalkeeper'), (296, 'Callum', 'Wilson', 14, 'Newcastle', 4, 'Forward'), (297, 'Jeff', 'Hendrick', 14, 'Newcastle', 3, 'Midfielder'), (298, 'Ryan', 'Fraser', 14, 'Newcastle', 3, 'Midfielder'), (299, 'Jamaal', 'Lascelles', 14, 'Newcastle', 2, 'Defender'), (300, 'Dwight', 'Gayle', 14, 'Newcastle', 4, 'Forward'), (301, 'Paul', 'Dummett', 14, 'Newcastle', 2, 'Defender'), (302, 'Javier', 'Manquillo', 14, 'Newcastle', 2, 'Defender'), (303, 'Emil', 'Krafth', 14, 'Newcastle', 2, 'Defender'), (304, 'Jacob', 'Murphy', 14, 'Newcastle', 3, 'Midfielder'), (305, 'Fabian', 'Schär', 14, 'Newcastle', 2, 'Defender'), (306, 'Isaac', 'Hayden', 14, 'Newcastle', 3, 'Midfielder'), (307, 'Allan', 'Saint-Maximin', 14, 'Newcastle', 4, 'Forward'), (308, 'Miguel', 'Almirón', 14, 'Newcastle', 3, 'Midfielder'), (309, 'Sean', 'Longstaff', 14, 'Newcastle', 3, 'Midfielder'), (310, 'Joelinton Cássio', 'Apolinário de Lira', 14, 'Newcastle', 4, 'Forward'), (311, 'Jamal', 'Lewis', 14, 'Newcastle', 2, 'Defender'), (312, 'Matthew', 'Longstaff', 14, 'Newcastle', 3, 'Midfielder'), (313, 'Michael', 'McGovern', 15, 'Norwich', 1, 'Goalkeeper'), (314, 'Tim', 'Krul', 15, 'Norwich', 1, 'Goalkeeper'), (315, 'Teemu', 'Pukki', 15, 'Norwich', 4, 'Forward'), (316, 'Marco', 'Stiepermann', 15, 'Norwich', 3, 'Midfielder'), (317, 'Lukas', 'Rupp', 15, 'Norwich', 3, 'Midfielder'), (318, 'Kenny', 'McLean', 15, 'Norwich', 3, 'Midfielder'), (319, 'Grant', 'Hanley', 15, 'Norwich', 2, 'Defender'), (320, 'Onel', 'Hernández', 15, 'Norwich', 3, 'Midfielder'), (321, 'Sam', 'Byram', 15, 'Norwich', 2, 'Defender'), (322, 'Jordan', 'Hugill', 15, 'Norwich', 4, 'Forward'), (323, 'Kieran', 'Dowell', 15, 'Norwich', 3, 'Midfielder'), (324, 'Christoph', 'Zimmermann', 15, 'Norwich', 2, 'Defender'), (325, 'Todd', 'Cantwell', 15, 'Norwich', 3, 'Midfielder'), (326, 'Max', 'Aarons', 15, 'Norwich', 2, 'Defender'), (327, 'Jacob', 'Sørensen', 15, 'Norwich', 2, 'Defender'), (328, 'Przemyslaw', 'Placheta', 15, 'Norwich', 3, 'Midfielder'), (329, 'Adam', 'Idah', 15, 'Norwich', 4, 'Forward'), (330, 'Josh', 'Martin', 15, 'Norwich', 3, 'Midfielder'), (331, 'Andrew', 'Omobamidele', 15, 'Norwich', 2, 'Defender'), (332, 'Theo', 'Walcott', 16, 'Southampton',

In [17]:
# Storing the query results in a dataframe
query = """
SELECT 
    pl.player_id,
    pl.first_name,
    pl.second_name,
    pl.team_id,
    t.team_name,
    pl.position_id,
    po.position_name
FROM players as pl 
INNER JOIN positions as po
    ON po.position_id = pl.position_id
INNER JOIN teams as t
    on t.team_id = pl.team_id
ORDER BY pl.player_id ASC;
"""

pd.read_sql_query(query, con)

,player_id,first_name,second_name,team_id,team_name,position_id,position_name
0,1,Bernd,Leno,1,Arsenal,1,Goalkeeper
1,2,Rúnar Alex,Rúnarsson,1,Arsenal,1,Goalkeeper
2,3,Willian,Borges Da Silva,1,Arsenal,3,Midfielder
3,4,Pierre-Emerick,Aubameyang,1,Arsenal,4,Forward
4,5,Cédric,Soares,1,Arsenal,2,Defender
...,...,...,...,...,...,...,...
731,732,Tiago,Çukur,18,Watford,4,Forward
732,733,Adrian,Blake,18,Watford,3,Midfielder
733,734,Jack,Grieves,18,Watford,4,Forward
734,735,Joseph,McGlynn,5,Burnley,4,Forward
735,736,Anthony,Mancini,5,Burnley,3,Midfielder

#### Pandas

In [18]:
(players[['player_id',
          'first_name',
          'second_name',
          'team_id',
          'position_id'
         ]]
 .assign(team_name = players.team_id.map(teams.set_index('team_id').team_name),
         position_name = players.position_id.map(positions.set_index('position_id').position_name)
        )
 .reindex(columns=['player_id',
                   'first_name',
                   'second_name',
                   'team_id',
                   'team_name',
                   'position_id',
                   'position_name'
                  ])
)

,player_id,first_name,second_name,team_id,team_name,position_id,position_name
0,1,Bernd,Leno,1,Arsenal,1,Goalkeeper
1,2,Rúnar Alex,Rúnarsson,1,Arsenal,1,Goalkeeper
2,3,Willian,Borges Da Silva,1,Arsenal,3,Midfielder
3,4,Pierre-Emerick,Aubameyang,1,Arsenal,4,Forward
4,5,Cédric,Soares,1,Arsenal,2,Defender
...,...,...,...,...,...,...,...
731,732,Tiago,Çukur,18,Watford,4,Forward
732,733,Adrian,Blake,18,Watford,3,Midfielder
733,734,Jack,Grieves,18,Watford,4,Forward
734,735,Joseph,McGlynn,5,Burnley,4,Forward
735,736,Anthony,Mancini,5,Burnley,3,Midfielder

In [19]:
# Using pandasql
pysqldf = lambda q: sqldf(q, globals())
pysqldf("""
SELECT 
    pl.player_id,
    pl.first_name,
    pl.second_name,
    pl.team_id,
    t.team_name,
    pl.position_id,
    po.position_name
FROM players as pl 
INNER JOIN positions as po
    ON po.position_id = pl.position_id
INNER JOIN teams as t
    on t.team_id = pl.team_id
ORDER BY pl.player_id ASC;
"""
)

,player_id,first_name,second_name,team_id,team_name,position_id,position_name
0,1,Bernd,Leno,1,Arsenal,1,Goalkeeper
1,2,Rúnar Alex,Rúnarsson,1,Arsenal,1,Goalkeeper
2,3,Willian,Borges Da Silva,1,Arsenal,3,Midfielder
3,4,Pierre-Emerick,Aubameyang,1,Arsenal,4,Forward
4,5,Cédric,Soares,1,Arsenal,2,Defender
...,...,...,...,...,...,...,...
731,732,Tiago,Çukur,18,Watford,4,Forward
732,733,Adrian,Blake,18,Watford,3,Midfielder
733,734,Jack,Grieves,18,Watford,4,Forward
734,735,Joseph,McGlynn,5,Burnley,4,Forward
735,736,Anthony,Mancini,5,Burnley,3,Midfielder

### Count of fixtures per gameweek for each team

#### SQL

In [20]:
query = """
SELECT
    t2.gameweek_id,
    t2.team_id,
    t.team_name,
    COUNT(*) AS Fixtures
FROM
(
SELECT
    t1.gameweek_id,
    t1.team_id
FROM
(
    SELECT 
       f1.gameweek_id,
       f1.home_team_id AS team_id
    FROM fixtures as f1
    UNION ALL
    SELECT 
       f2.gameweek_id,
       f2.away_team_id AS team_id
    FROM fixtures as f2
) AS t1
) AS t2
INNER JOIN teams as t
    ON t.team_id = t2.team_id
WHERE t2.gameweek_id IS NOT NULL
GROUP BY 
    t2.gameweek_id,
    t2.team_id,
    t.team_name
ORDER BY 
    t2.gameweek_id ASC,
    t.team_name ASC
"""

cursor.execute(query)
print(cursor.fetchall())

[(1, 1, 'Arsenal', 1), (1, 2, 'Aston Villa', 1), (1, 3, 'Brentford', 1), (1, 4, 'Brighton', 1), (1, 5, 'Burnley', 1), (1, 6, 'Chelsea', 1), (1, 7, 'Crystal Palace', 1), (1, 8, 'Everton', 1), (1, 10, 'Leeds', 1), (1, 9, 'Leicester', 1), (1, 11, 'Liverpool', 1), (1, 12, 'Man City', 1), (1, 13, 'Man Utd', 1), (1, 14, 'Newcastle', 1), (1, 15, 'Norwich', 1), (1, 16, 'Southampton', 1), (1, 17, 'Spurs', 1), (1, 18, 'Watford', 1), (1, 19, 'West Ham', 1), (1, 20, 'Wolves', 1), (2, 1, 'Arsenal', 1), (2, 2, 'Aston Villa', 1), (2, 3, 'Brentford', 1), (2, 4, 'Brighton', 1), (2, 5, 'Burnley', 1), (2, 6, 'Chelsea', 1), (2, 7, 'Crystal Palace', 1), (2, 8, 'Everton', 1), (2, 10, 'Leeds', 1), (2, 9, 'Leicester', 1), (2, 11, 'Liverpool', 1), (2, 12, 'Man City', 1), (2, 13, 'Man Utd', 1), (2, 14, 'Newcastle', 1), (2, 15, 'Norwich', 1), (2, 16, 'Southampton', 1), (2, 17, 'Spurs', 1), (2, 18, 'Watford', 1), (2, 19, 'West Ham', 1), (2, 20, 'Wolves', 1), (3, 1, 'Arsenal', 1), (3, 2, 'Aston Villa', 1), (3, 3, 'Brentford', 1), (3, 4, 'Brighton', 1), (3, 5, 'Burnley', 1), (3, 6, 'Chelsea', 1), (3, 7, 'Crystal Palace', 1), (3, 8, 'Everton', 1), (3, 10, 'Leeds', 1), (3, 9, 'Leicester', 1), (3, 11, 'Liverpool', 1), (3, 12, 'Man City', 1), (3, 13, 'Man Utd', 1), (3, 14, 'Newcastle', 1), (3, 15, 'Norwich', 1), (3, 16, 'Southampton', 1), (3, 17, 'Spurs', 1), (3, 18, 'Watford', 1), (3, 19, 'West Ham', 1), (3, 20, 'Wolves', 1), (4, 1, 'Arsenal', 1), (4, 2, 'Aston Villa', 1), (4, 3, 'Brentford', 1), (4, 4, 'Brighton', 1), (4, 5, 'Burnley', 1), (4, 6, 'Chelsea', 1), (4, 7, 'Crystal Palace', 1), (4, 8, 'Everton', 1), (4, 10, 'Leeds', 1), (4, 9, 'Leicester', 1), (4, 11, 'Liverpool', 1), (4, 12, 'Man City', 1), (4, 13, 'Man Utd', 1), (4, 14, 'Newcastle', 1), (4, 15, 'Norwich', 1), (4, 16, 'Southampton', 1), (4, 17, 'Spurs', 1), (4, 18, 'Watford', 1), (4, 19, 'West Ham', 1), (4, 20, 'Wolves', 1), (5, 1, 'Arsenal', 1), (5, 2, 'Aston Villa', 1), (5, 3, 'Brentford', 1), (5, 4, 'Brighton', 1), (5, 5, 'Burnley', 1), (5, 6, 'Chelsea', 1), (5, 7, 'Crystal Palace', 1), (5, 8, 'Everton', 1), (5, 10, 'Leeds', 1), (5, 9, 'Leicester', 1), (5, 11, 'Liverpool', 1), (5, 12, 'Man City', 1), (5, 13, 'Man Utd', 1), (5, 14, 'Newcastle', 1), (5, 15, 'Norwich', 1), (5, 16, 'Southampton', 1), (5, 17, 'Spurs', 1), (5, 18, 'Watford', 1), (5, 19, 'West Ham', 1), (5, 20, 'Wolves', 1), (6, 1, 'Arsenal', 1), (6, 2, 'Aston Villa', 1), (6, 3, 'Brentford', 1), (6, 4, 'Brighton', 1), (6, 5, 'Burnley', 1), (6, 6, 'Chelsea', 1), (6, 7, 'Crystal Palace', 1), (6, 8, 'Everton', 1), (6, 10, 'Leeds', 1), (6, 9, 'Leicester', 1), (6, 11, 'Liverpool', 1), (6, 12, 'Man City', 1), (6, 13, 'Man Utd', 1), (6, 14, 'Newcastle', 1), (6, 15, 'Norwich', 1), (6, 16, 'Southampton', 1), (6, 17, 'Spurs', 1), (6, 18, 'Watford', 1), (6, 19, 'West Ham', 1), (6, 20, 'Wolves', 1), (7, 1, 'Arsenal', 1), (7, 2, 'Aston Villa', 1), (7, 3, 'Brentford', 1), (7, 4, 'Brighton', 1), (7, 5, 'Burnley', 1), (7, 6, 'Chelsea', 1), (7, 7, 'Crystal Palace', 1), (7, 8, 'Everton', 1), (7, 10, 'Leeds', 1), (7, 9, 'Leicester', 1), (7, 11, 'Liverpool', 1), (7, 12, 'Man City', 1), (7, 13, 'Man Utd', 1), (7, 14, 'Newcastle', 1), (7, 15, 'Norwich', 1), (7, 16, 'Southampton', 1), (7, 17, 'Spurs', 1), (7, 18, 'Watford', 1), (7, 19, 'West Ham', 1), (7, 20, 'Wolves', 1), (8, 1, 'Arsenal', 1), (8, 2, 'Aston Villa', 1), (8, 3, 'Brentford', 1), (8, 4, 'Brighton', 1), (8, 5, 'Burnley', 1), (8, 6, 'Chelsea', 1), (8, 7, 'Crystal Palace', 1), (8, 8, 'Everton', 1), (8, 10, 'Leeds', 1), (8, 9, 'Leicester', 1), (8, 11, 'Liverpool', 1), (8, 12, 'Man City', 1), (8, 13, 'Man Utd', 1), (8, 14, 'Newcastle', 1), (8, 15, 'Norwich', 1), (8, 16, 'Southampton', 1), (8, 17, 'Spurs', 1), (8, 18, 'Watford', 1), (8, 19, 'West Ham', 1), (8, 20, 'Wolves', 1), (9, 1, 'Arsenal', 1), (9, 2, 'Aston Villa', 1), (9, 3, 'Brentford', 1), (9, 4, 'Brighton', 1), (9, 5, 'Burnley', 1), (9, 6, 'Chelsea', 1), (9, 7, 'Crystal Palace', 1), (9, 8, 'Everton', 1), (9, 10, 'Leeds', 1), (9, 9, 'Leicester', 1), (9, 11, 'Liverpool', 1), (9, 12, 'Man City', 1), (9, 13, 'Man Utd', 1), (9, 14, 'Newcastle', 1), (9, 15, 'Norwich', 1), (9, 16, 'Southampton', 1), (9, 17, 'Spurs', 1), (9, 18, 'Watford', 1), (9, 19, 'West Ham', 1), (9, 20, 'Wolves', 1), (10, 1, 'Arsenal', 1), (10, 2, 'Aston Villa', 1), (10, 3, 'Brentford', 1), (10, 4, 'Brighton', 1), (10, 5, 'Burnley', 1), (10, 6, 'Chelsea', 1), (10, 7, 'Crystal Palace', 1), (10, 8, 'Everton', 1), (10, 10, 'Leeds', 1), (10, 9, 'Leicester', 1), (10, 11, 'Liverpool', 1), (10, 12, 'Man City', 1), (10, 13, 'Man Utd', 1), (10, 14, 'Newcastle', 1), (10, 15, 'Norwich', 1), (10, 16, 'Southampton', 1), (10, 17, 'Spurs', 1), (10, 18, 'Watford', 1), (10, 19, 'West Ham', 1), (10, 20, 'Wolves', 1), (11, 1, 'Arsenal', 1), (11, 2, 'Aston Villa', 1), (11, 3, 'Brentford', 1), (11, 4, 'Brighton', 1), (11, 5, 'Burnley', 1), (11, 6, 'Chelsea', 1), (11, 7, 'Crystal Palace', 1), (11, 8, 'Everton', 1), (11, 10, 'Leeds', 1), (11, 9, 'Leicester', 1), (11, 11, 'Liverpool', 1), (11, 12, 'Man City', 1), (11, 13, 'Man Utd', 1), (11, 14, 'Newcastle', 1), (11, 15, 'Norwich', 1), (11, 16, 'Southampton', 1), (11, 17, 'Spurs', 1), (11, 18, 'Watford', 1), (11, 19, 'West Ham', 1), (11, 20, 'Wolves', 1), (12, 1, 'Arsenal', 1), (12, 2, 'Aston Villa', 1), (12, 3, 'Brentford', 1), (12, 4, 'Brighton', 1), (12, 5, 'Burnley', 1), (12, 6, 'Chelsea', 1), (12, 7, 'Crystal Palace', 1), (12, 8, 'Everton', 1), (12, 10, 'Leeds', 1), (12, 9, 'Leicester', 1), (12, 11, 'Liverpool', 1), (12, 12, 'Man City', 1), (12, 13, 'Man Utd', 1), (12, 14, 'Newcastle', 1), (12, 15, 'Norwich', 1), (12, 16, 'Southampton', 1), (12, 17, 'Spurs', 1), (12, 18, 'Watford', 1), (12, 19, 'West Ham', 1), (12, 20, 'Wolves', 1), (13, 1, 'Arsenal', 1), (13, 2, 'Aston Villa', 1), (13, 3, 'Brentford', 1), (13, 4, 'Brighton', 1), (13, 6, 'Chelsea', 1), (13, 7, 'Crystal Palace', 1), (13, 8, 'Everton', 1), (13, 10, 'Leeds', 1), (13, 9, 'Leicester', 1), (13, 11, 'Liverpool', 1), (13, 12, 'Man City', 1), (13, 13, 'Man Utd', 1), (13, 14, 'Newcastle', 1), (13, 15, 'Norwich', 1), (13, 16, 'Southampton', 1), (13, 18, 'Watford', 1), (13, 19, 'West Ham', 1), (13, 20, 'Wolves', 1), (14, 1, 'Arsenal', 1), (14, 2, 'Aston Villa', 1), (14, 3, 'Brentford', 1), (14, 4, 'Brighton', 1), (14, 5, 'Burnley', 1), (14, 6, 'Chelsea', 1), (14, 7, 'Crystal Palace', 1), (14, 8, 'Everton', 1), (14, 10, 'Leeds', 1), (14, 9, 'Leicester', 1), (14, 11, 'Liverpool', 1), (14, 12, 'Man City', 1), (14, 13, 'Man Utd', 1), (14, 14, 'Newcastle', 1), (14, 15, 'Norwich', 1), (14, 16, 'Southampton', 1), (14, 17, 'Spurs', 1), (14, 18, 'Watford', 1), (14, 19, 'West Ham', 1), (14, 20, 'Wolves', 1), (15, 1, 'Arsenal', 1), (15, 2, 'Aston Villa', 1), (15, 3, 'Brentford', 1), (15, 4, 'Brighton', 1), (15, 5, 'Burnley', 1), (15, 6, 'Chelsea', 1), (15, 7, 'Crystal Palace', 1), (15, 8, 'Everton', 1), (15, 10, 'Leeds', 1), (15, 9, 'Leicester', 1), (15, 11, 'Liverpool', 1), (15, 12, 'Man City', 1), (15, 13, 'Man Utd', 1), (15, 14, 'Newcastle', 1), (15, 15, 'Norwich', 1), (15, 16, 'Southampton', 1), (15, 17, 'Spurs', 1), (15, 18, 'Watford', 1), (15, 19, 'West Ham', 1), (15, 20, 'Wolves', 1), (16, 1, 'Arsenal', 1), (16, 2, 'Aston Villa', 1), (16, 3, 'Brentford', 1), (16, 5, 'Burnley', 1), (16, 6, 'Chelsea', 1), (16, 7, 'Crystal Palace', 1), (16, 8, 'Everton', 1), (16, 10, 'Leeds', 1), (16, 9, 'Leicester', 1), (16, 11, 'Liverpool', 1), (16, 12, 'Man City', 1), (16, 13, 'Man Utd', 1), (16, 14, 'Newcastle', 1), (16, 15, 'Norwich', 1), (16, 16, 'Southampton', 1), (16, 18, 'Watford', 1), (16, 19, 'West Ham', 1), (16, 20, 'Wolves', 1), (17, 1, 'Arsenal', 1), (17, 2, 'Aston Villa', 1), (17, 4, 'Brighton', 1), (17, 6, 'Chelsea', 1), (17, 7, 'Crystal Palace', 1), (17, 8, 'Everton', 1), (17, 10, 'Leeds', 1), (17, 11, 'Liverpool', 1), (17, 12, 'Man City', 1), (17, 14, 'Newcastle', 1), (17, 15, 'Norwich', 1), (17, 16, 'Southampton', 1), (17, 19, 'West Ham', 1), (17, 20, 'Wolves', 1), (18, 1, 'Arsenal', 1), (18, 6, 'Chelsea', 1), (18, 10, 'Leeds', 1), (18, 11, 'Liverpool', 1), (18, 12, 'Man City', 1), (18, 14, 'Newcastle', 1), (18, 17, 'Spurs', 1), (18, 20, 'Wolves', 1), (19, 1, 'Arsenal', 1), (19, 2, 'Aston Villa', 1), (19, 3, 'Brentford', 1), (19, 4, 'Brighton', 1), (19, 6, 'Chelsea', 1), (19, 7, 'Crystal Palace', 1), (19, 9, 'Leicester', 1), (19, 12, 'Man City', 1), (19, 13, 'Man Utd', 1), (19, 14, 'Newcastle', 1), (19, 15, 'Norwich', 1), (19, 16, 'Southampton', 1), (19, 17, 'Spurs', 1), (19, 19, 'West Ham', 1), (20, 3, 'Brentford', 1), (20, 4, 'Brighton', 1), (20, 5, 'Burnley', 1), (20, 6, 'Chelsea', 1), (20, 7, 'Crystal Palace', 1), (20, 9, 'Leicester', 1), (20, 11, 'Liverpool', 1), (20, 12, 'Man City', 1), (20, 13, 'Man Utd', 1), (20, 15, 'Norwich', 1), (20, 16, 'Southampton', 1), (20, 17, 'Spurs', 1), (20, 18, 'Watford', 1), (20, 19, 'West Ham', 1), (21, 1, 'Arsenal', 1), (21, 2, 'Aston Villa', 1), (21, 3, 'Brentford', 2), (21, 4, 'Brighton', 1), (21, 5, 'Burnley', 1), (21, 6, 'Chelsea', 1), (21, 7, 'Crystal Palace', 1), (21, 8, 'Everton', 1), (21, 10, 'Leeds', 1), (21, 11, 'Liverpool', 1), (21, 12, 'Man City', 1), (21, 13, 'Man Utd', 1), (21, 15, 'Norwich', 1), (21, 16, 'Southampton', 1), (21, 17, 'Spurs', 1), (21, 18, 'Watford', 1), (21, 19, 'West Ham', 2), (21, 20, 'Wolves', 1), (22, 2, 'Aston Villa', 1), (22, 3, 'Brentford', 2), (22, 4, 'Brighton', 2), (22, 6, 'Chelsea', 2), (22, 7, 'Crystal Palace', 1), (22, 8, 'Everton', 1), (22, 10, 'Leeds', 1), (22, 9, 'Leicester', 1), (22, 11, 'Liverpool', 1), (22, 12, 'Man City', 1), (22, 13, 'Man Utd', 2), (22, 14, 'Newcastle', 1), (22, 15, 'Norwich', 1), (22, 16, 'Southampton', 1), (22, 17, 'Spurs', 1), (22, 18, 'Watford', 1), (22, 19, 'West Ham', 1), (22, 20, 'Wolves', 1), (23, 1, 'Arsenal', 1), (23, 2, 'Aston Villa', 1), (23, 3, 'Brentford', 1), (23, 4, 'Brighton', 1), (23, 5, 'Burnley', 2), (23, 6, 'Chelsea', 1), (23, 7, 'Crystal Palace', 1), (23, 8, 'Everton', 1), (23, 10, 'Leeds', 1), (23, 9, 'Leicester', 1), (23, 11, 'Liverpool', 1), (23, 12, 'Man City', 1), (23, 13, 'Man Utd', 1), (23, 14, 'Newcastle', 1), (23, 15, 'Norwich', 1), (23, 16, 'Southampton', 1), (23, 17, 'Spurs', 1), (23, 18, 'Watford', 2), (23, 19, 'West Ham', 1), (23, 20, 'Wolves', 1), (24, 1, 'Arsenal', 1), (24, 2, 'Aston Villa', 1), (24, 3, 'Brentford', 1), (24, 5, 'Burnley', 1), (24, 7, 'Crystal Palace', 1), (24, 8, 'Everton', 1), (24, 10, 'Leeds', 1), (24, 9, 'Leicester', 1), (24, 11, 'Liverpool', 1), (24, 12, 'Man City', 1), (24, 13, 'Man Utd', 1), (24, 14, 'Newcastle', 1), (24, 15, 'Norwich', 1), (24, 16, 'Southampton', 1), (24, 17, 'Spurs', 1), (24, 18, 'Watford', 1), (24, 19, 'West Ham', 1), (24, 20, 'Wolves', 1), (25, 2, 'Aston Villa', 1), (25, 3, 'Brentford', 1), (25, 4, 'Brighton', 2), (25, 5, 'Burnley', 1), (25, 7, 'Crystal Palace', 1), (25, 8, 'Everton', 1), (25, 10, 'Leeds', 1), (25, 9, 'Leicester', 1), (25, 11, 'Liverpool', 1), (25, 12, 'Man City', 1), (25, 13, 'Man Utd', 2), (25, 14, 'Newcastle', 1), (25, 15, 'Norwich', 1), (25, 16, 'Southampton', 1), (25, 17, 'Spurs', 1), (25, 18, 'Watford', 1), (25, 19, 'West Ham', 1), (25, 20, 'Wolves', 1), (26, 1, 'Arsenal', 2), (26, 2, 'Aston Villa', 1), (26, 3, 'Brentford', 1), (26, 4, 'Brighton', 1), (26, 5, 'Burnley', 2), (26, 6, 'Chelsea', 1), (26, 7, 'Crystal Palace', 2), (26, 8, 'Everton', 1), (26, 10, 'Leeds', 2), (26, 9, 'Leicester', 1), (26, 11, 'Liverpool', 2), (26, 12, 'Man City', 1), (26, 13, 'Man Utd', 1), (26, 14, 'Newcastle', 1), (26, 15, 'Norwich', 1), (26, 16, 'Southampton', 1), (26, 17, 'Spurs', 2), (26, 18, 'Watford', 2), (26, 19, 'West Ham', 1), (26, 20, 'Wolves', 2), (27, 2, 'Aston Villa', 1), (27, 3, 'Brentford', 1), (27, 4, 'Brighton', 1), (27, 5, 'Burnley', 2), (27, 7, 'Crystal Palace', 1), (27, 8, 'Everton', 1), (27, 10, 'Leeds', 1), (27, 9, 'Leicester', 1), (27, 12, 'Man City', 1), (27, 13, 'Man Utd', 1), (27, 14, 'Newcastle', 1), (27, 15, 'Norwich', 1), (27, 16, 'Southampton', 1), (27, 17, 'Spurs', 1), (27, 18, 'Watford', 1), (27, 19, 'West Ham', 1), (27, 20, 'Wolves', 1), (28, 1, 'Arsenal', 1), (28, 2, 'Aston Villa', 2), (28, 3, 'Brentford', 1), (28, 4, 'Brighton', 1), (28, 5, 'Burnley', 1), (28, 6, 'Chelsea', 2), (28, 7, 'Crystal Palace', 1), (28, 8, 'Everton', 1), (28, 10, 'Leeds', 2), (28, 9, 'Leicester', 1), (28, 11, 'Liverpool', 1), (28, 12, 'Man City', 1), (28, 13, 'Man Utd', 1), (28, 14, 'Newcastle', 2), (28, 15, 'Norwich', 2), (28, 16, 'Southampton', 2), (28, 17, 'Spurs', 1), (28, 18, 'Watford', 2), (28, 19, 'West Ham', 1), (28, 20, 'Wolves', 2), (29, 1, 'Arsenal', 2), (29, 2, 'Aston Villa', 1), (29, 3, 'Brentford', 1), (29, 4, 'Brighton', 2), (29, 5, 'Burnley', 1), (29, 6, 'Chelsea', 1), (29, 7, 'Crystal Palace', 1), (29, 8, 'Everton', 2), (29, 10, 'Leeds', 1), (29, 9, 'Leicester', 1), (29, 11, 'Liverpool', 2), (29, 12, 'Man City', 1), (29, 13, 'Man Utd', 1), (29, 14, 'Newcastle', 2), (29, 15, 'Norwich', 1), (29, 16, 'Southampton', 1), (29, 17, 'Spurs', 2), (29, 18, 'Watford', 1), (29, 19, 'West Ham', 1), (29, 20, 'Wolves', 1), (30, 1, 'Arsenal', 1), (30, 2, 'Aston Villa', 1), (30, 3, 'Brentford', 1), (30, 10, 'Leeds', 1), (30, 9, 'Leicester', 1), (30, 17, 'Spurs', 1), (30, 19, 'West Ham', 1), (30, 20, 'Wolves', 1), (31, 1, 'Arsenal', 1), (31, 2, 'Aston Villa', 1), (31, 3, 'Brentford', 1), (31, 4, 'Brighton', 1), (31, 5, 'Burnley', 2), (31, 6, 'Chelsea', 1), (31, 7, 'Crystal Palace', 1), (31, 8, 'Everton', 2), (31, 10, 'Leeds', 1), (31, 9, 'Leicester', 1), (31, 11, 'Liverpool', 1), (31, 12, 'Man City', 1), (31, 13, 'Man Utd', 1), (31, 14, 'Newcastle', 1), (31, 15, 'Norwich', 1), (31, 16, 'Southampton', 1), (31, 17, 'Spurs', 1), (31, 18, 'Watford', 1), (31, 19, 'West Ham', 1), (31, 20, 'Wolves', 1), (32, 1, 'Arsenal', 1), (32, 2, 'Aston Villa', 1), (32, 3, 'Brentford', 1), (32, 4, 'Brighton', 1), (32, 5, 'Burnley', 1), (32, 6, 'Chelsea', 1), (32, 7, 'Crystal Palace', 1), (32, 8, 'Everton', 1), (32, 10, 'Leeds', 1), (32, 9, 'Leicester', 1), (32, 11, 'Liverpool', 1), (32, 12, 'Man City', 1), (32, 13, 'Man Utd', 1), (32, 14, 'Newcastle', 1), (32, 15, 'Norwich', 1), (32, 16, 'Southampton', 1), (32, 17, 'Spurs', 1), (32, 18, 'Watford', 1), (32, 19, 'West Ham', 1), (32, 20, 'Wolves', 1), (33, 1, 'Arsenal', 2), (33, 3, 'Brentford', 1), (33, 4, 'Brighton', 2), (33, 5, 'Burnley', 2), (33, 6, 'Chelsea', 1), (33, 7, 'Crystal Palace', 1), (33, 8, 'Everton', 1), (33, 9, 'Leicester', 2), (33, 11, 'Liverpool', 1), (33, 12, 'Man City', 1), (33, 13, 'Man Utd', 2), (33, 14, 'Newcastle', 2), (33, 15, 'Norwich', 1), (33, 16, 'Southampton', 2), (33, 17, 'Spurs', 1), (33, 18, 'Watford', 1), (33, 19, 'West Ham', 1), (34, 1, 'Arsenal', 1), (34, 2, 'Aston Villa', 1), (34, 3, 'Brentford', 1), (34, 4, 'Brighton', 1), (34, 5, 'Burnley', 1), (34, 6, 'Chelsea', 2), (34, 7, 'Crystal Palace', 1), (34, 8, 'Everton', 1), (34, 10, 'Leeds', 1), (34, 9, 'Leicester', 1), (34, 11, 'Liverpool', 1), (34, 12, 'Man City', 1), (34, 13, 'Man Utd', 2), (34, 14, 'Newcastle', 1), (34, 15, 'Norwich', 1), (34, 16, 'Southampton', 1), (34, 17, 'Spurs', 1), (34, 18, 'Watford', 1), (34, 19, 'West Ham', 1), (34, 20, 'Wolves', 1), (35, 1, 'Arsenal', 1), (35, 2, 'Aston Villa', 1), (35, 3, 'Brentford', 1), (35, 4, 'Brighton', 1), (35, 5, 'Burnley', 1), (35, 6, 'Chelsea', 1), (35, 7, 'Crystal Palace', 1), (35, 8, 'Everton', 1), (35, 10, 'Leeds', 1), (35, 9, 'Leicester', 1), (35, 11, 'Liverpool', 1), (35, 12, 'Man City', 1), (35, 13, 'Man Utd', 1), (35, 14, 'Newcastle', 1), (35, 15, 'Norwich', 1), (35, 16, 'Southampton', 1), (35, 17, 'Spurs', 1), (35, 18, 'Watford', 1), (35, 19, 'West Ham', 1), (35, 20, 'Wolves', 1), (36, 1, 'Arsenal', 2), (36, 2, 'Aston Villa', 2), (36, 3, 'Brentford', 1), (36, 4, 'Brighton', 1), (36, 5, 'Burnley', 1), (36, 6, 'Chelsea', 2), (36, 7, 'Crystal Palace', 1), (36, 8, 'Everton', 2), (36, 10, 'Leeds', 2), (36, 9, 'Leicester', 2), (36, 11, 'Liverpool', 2), (36, 12, 'Man City', 2), (36, 13, 'Man Utd', 1), (36, 14, 'Newcastle', 1), (36, 15, 'Norwich', 2), (36, 16, 'Southampton', 1), (36, 17, 'Spurs', 2), (36, 18, 'Watford', 2), (36, 19, 'West Ham', 1), (36, 20, 'Wolves', 2), (37, 1, 'Arsenal', 1), (37, 2, 'Aston Villa', 2), (37, 3, 'Brentford', 1), (37, 4, 'Brighton', 1), (37, 5, 'Burnley', 2), (37, 6, 'Chelsea', 1), (37, 7, 'Crystal Palace', 2), (37, 8, 'Everton', 2), (37, 10, 'Leeds', 1), (37, 9, 'Leicester', 2), (37, 11, 'Liverpool', 1), (37, 12, 'Man City', 1), (37, 14, 'Newcastle', 1), (37, 15, 'Norwich', 1), (37, 16, 'Southampton', 1), (37, 17, 'Spurs', 1), (37, 18, 'Watford', 1), (37, 19, 'West Ham', 1), (37, 20, 'Wolves', 1), (38, 1, 'Arsenal', 1), (38, 2, 'Aston Villa', 1), (38, 3, 'Brentford', 1), (38, 4, 'Brighton', 1), (38, 5, 'Burnley', 1), (38, 6, 'Chelsea', 1), (38, 7, 'Crystal Palace', 1), (38, 8, 'Everton', 1), (38, 10, 'Leeds', 1), (38, 9, 'Leicester', 1), (38, 11, 'Liverpool', 1), (38, 12, 'Man City', 1), (38, 13, 'Man Utd', 1), (38, 14, 'Newcastle', 1), (38, 15, 'Norwich', 1), (38, 16, 'Southampton', 1), (38, 17, 'Spurs', 1), (38, 18, 'Watford', 1), (38, 19, 'West Ham', 1), (38, 20, 'Wolves', 1)]

#### Pandas

In [21]:
(fixtures[['gameweek_id', 'home_team_id', 'away_team_id']]
 .append(fixtures.rename(columns={**dict(zip(['home_team_id'], ['away_team_id'])), **dict(zip(['away_team_id'], ['home_team_id']))}))
 .sort_index(ignore_index=True)
 .drop(columns=['away_team_id'])
 .rename(columns={'home_team_id': 'team_id'})
 .groupby(['gameweek_id', 'team_id']).size().to_frame('fixtures').reset_index()
 .assign(team_name = lambda x: x.team_id.map(teams.set_index('team_id').team_name))
 .astype({'gameweek_id': 'int8'})
 .reindex(columns=['gameweek_id',
                   'team_id',
                   'team_name',
                   'fixtures'
                  ])
)

     gameweek_id  team_id    team_name  fixtures
0              1        1      Arsenal         1
1              1        2  Aston Villa         1
2              1        3    Brentford         1
3              1        4     Brighton         1
4              1        5      Burnley         1
..           ...      ...          ...       ...
694           38       16  Southampton         1
695           38       17        Spurs         1
696           38       18      Watford         1
697           38       19     West Ham         1
698           38       20       Wolves         1

[699 rows x 4 columns]

### What teams have gameweeks with more than one fixture coming up?

In [22]:
current_gameweek = (gameweeks[gameweeks.finished == False]
                    .sort_values('gameweek_id', ascending=True)
                    .gameweek_id
                    .min()
                   )

In [23]:
(fixtures[['gameweek_id', 'home_team_id', 'away_team_id']]
 .append(fixtures.rename(columns={**dict(zip(['home_team_id'], ['away_team_id'])), **dict(zip(['away_team_id'], ['home_team_id']))}))
 .sort_index(ignore_index=True)
 .drop(columns=['away_team_id'])
 .rename(columns={'home_team_id': 'team_id'})
 .groupby(['gameweek_id', 'team_id']).size().to_frame('fixtures').reset_index()
 .assign(team_name = lambda x: x.team_id.map(teams.set_index('team_id').team_name))
 .astype({'gameweek_id': 'int8'})
 .reindex(columns=['gameweek_id',
                   'team_id',
                   'team_name',
                   'fixtures'
                  ])
 .query(f"gameweek_id >= {current_gameweek} and fixtures > 1")
)

     gameweek_id  team_id       team_name  fixtures
661           37        2     Aston Villa         2
664           37        5         Burnley         2
666           37        7  Crystal Palace         2
667           37        8         Everton         2
668           37        9       Leicester         2

### Table of gameweek fixture counts for each team for the remaining fixtures

In [24]:
(fixtures[['gameweek_id', 'home_team_id', 'away_team_id']]
 .append(fixtures.rename(columns={**dict(zip(['home_team_id'], ['away_team_id'])), **dict(zip(['away_team_id'], ['home_team_id']))}))
 .sort_index(ignore_index=True)
 .drop(columns=['away_team_id'])
 .rename(columns={'home_team_id': 'team_id'})
 .groupby(['gameweek_id', 'team_id']).size().to_frame('fixtures').reset_index()
 .assign(team_name = lambda x: x.team_id.map(teams.set_index('team_id').team_name))
 .astype({'gameweek_id': 'int8'})
 .reindex(columns=['gameweek_id',
                   'team_id',
                   'team_name',
                   'fixtures'
                  ])
 .query(f"gameweek_id >= {current_gameweek}")
 .pivot_table(index=['team_id', 'team_name'], columns=['gameweek_id'], values='fixtures', fill_value=0)
)

gameweek_id             37  38
team_id team_name
1       Arsenal          1   1
2       Aston Villa      2   1
3       Brentford        1   1
4       Brighton         1   1
5       Burnley          2   1
6       Chelsea          1   1
7       Crystal Palace   2   1
8       Everton          2   1
9       Leicester        2   1
10      Leeds            1   1
11      Liverpool        1   1
12      Man City         1   1
13      Man Utd          0   1
14      Newcastle        1   1
15      Norwich          1   1
16      Southampton      1   1
17      Spurs            1   1
18      Watford          1   1
19      West Ham         1   1
20      Wolves           1   1

### Table of remaining fixtures

In [25]:
# Setting this as a constant as the code below to derive the table of remaining fixtures is not dynamic in its current form
CURRENT_GAMEWEEK = 36

In [26]:
# Colour home and away matches
def colour(team):
    if team.isupper():
        colour = 'green'
    elif team.islower():
        colour = 'red'
    else:
        colour = 'white'
    return 'background-color: %s' % colour

In [27]:
(
    fixtures[['fixture_id', 'kickoff_time', 'gameweek_id', 'home_team_id', 'away_team_id']]
    .append(fixtures.rename(columns={**dict(zip(['home_team_id'], ['away_team_id'])),
                                     **dict(zip(['away_team_id'], ['home_team_id']))
                                    }))
    .sort_index(ignore_index=True)
    .drop(columns=['away_team_id'])
    .rename(columns={'home_team_id': 'team_id'})
    .assign(team_name = lambda x: x.team_id.map(teams.set_index('team_id').team_name),
            team_short_name = lambda x: x.team_id.map(teams.set_index('team_id').team_short_name),
            gameweek_name = lambda x: x.gameweek_id.map(gameweeks.set_index('gameweek_id').gameweek_name)
           )
    .query(f"gameweek_id >= {CURRENT_GAMEWEEK}")
    .merge(fixtures[['fixture_id', 'home_team_id']], how='left',
           left_on=['fixture_id', 'team_id'],
           right_on=['fixture_id', 'home_team_id']
          )
    .astype({'gameweek_id': 'int8',
             'home_team_id': 'Int8'
            })
    .assign(home = lambda x: np.where(x.home_team_id.isnull(), 0, 1),
            venue = lambda x: np.where(x.home == 1, 'home', 'away'),
            fixture_dummy_id = lambda x: np.where(x.venue == 'home', x.fixture_id, -1*x.fixture_id)
           )
    .sort_values(['gameweek_id', 'kickoff_time'])
    .assign(gameweek_fixture_number = lambda x: x.groupby(['gameweek_id', 'team_id']).cumcount()+1,
            gameweek_fixture_name = lambda x: np.where(x.gameweek_fixture_number == 1, 'Fixture One', 'Fixture Two')
           )
    .reindex(columns=['fixture_dummy_id',
                      'gameweek_name',
                      'team_id',
                      'gameweek_fixture_name'
                     ])
    .pivot(index=['team_id'], columns=['gameweek_name', 'gameweek_fixture_name'], values='fixture_dummy_id').sort_index(axis='columns', level='gameweek_name')
    .fillna(0)
    .astype('Int16')
    .pipe(lambda x: x.set_axis([' '.join(col) for col in x.columns.values], axis=1))
    .reset_index()
    .assign(team_name = lambda x: x.team_id.map(teams.set_index('team_id').team_short_name),
            Gameweek_36_Fixture_One_Team = lambda x: np.where(x['Gameweek 36 Fixture One'] < 0,
                                                              (-1*x['Gameweek 36 Fixture One']).map(fixtures.set_index('fixture_id').home_team_id),
                                                              x['Gameweek 36 Fixture One'].map(fixtures.set_index('fixture_id').away_team_id)
                                                             ).astype('int8'),
            Gameweek_36_Fixture_One_Opponent = lambda x: np.where(x['Gameweek 36 Fixture One'] < 0,
                                                                  x['Gameweek_36_Fixture_One_Team'].map(teams.set_index('team_id').team_short_name).str.lower(),
                                                                  x['Gameweek_36_Fixture_One_Team'].map(teams.set_index('team_id').team_short_name).str.upper()
                                                                 ),
            Gameweek_36_Fixture_Two_Team = lambda x: np.where(x['Gameweek 36 Fixture Two'] < 0,
                                                              (-1*x['Gameweek 36 Fixture Two']).map(fixtures.set_index('fixture_id').home_team_id),
                                                              x['Gameweek 36 Fixture Two'].map(fixtures.set_index('fixture_id').away_team_id)
                                                             ).astype('int8'),
            Gameweek_36_Fixture_Two_Opponent = lambda x: np.where(x['Gameweek 36 Fixture Two'] < 0,
                                                                  x['Gameweek_36_Fixture_Two_Team'].map(teams.set_index('team_id').team_short_name).str.lower(),
                                                                  x['Gameweek_36_Fixture_Two_Team'].map(teams.set_index('team_id').team_short_name).str.upper()
                                                                 ),
            Gameweek_37_Fixture_One_Team = lambda x: np.where(x['Gameweek 37 Fixture One'] < 0,
                                                              (-1*x['Gameweek 37 Fixture One']).map(fixtures.set_index('fixture_id').home_team_id),
                                                              x['Gameweek 37 Fixture One'].map(fixtures.set_index('fixture_id').away_team_id)
                                                             ).astype('int8'),
            Gameweek_37_Fixture_One_Opponent = lambda x: np.where(x['Gameweek 37 Fixture One'] < 0,
                                                                  x['Gameweek_37_Fixture_One_Team'].map(teams.set_index('team_id').team_short_name).str.lower(),
                                                                  x['Gameweek_37_Fixture_One_Team'].map(teams.set_index('team_id').team_short_name).str.upper()
                                                                 ),
            Gameweek_37_Fixture_Two_Team = lambda x: np.where(x['Gameweek 37 Fixture Two'] < 0,
                                                              (-1*x['Gameweek 37 Fixture Two']).map(fixtures.set_index('fixture_id').home_team_id),
                                                              x['Gameweek 37 Fixture Two'].map(fixtures.set_index('fixture_id').away_team_id)
                                                             ).astype('int8'),
            Gameweek_37_Fixture_Two_Opponent = lambda x: np.where(x['Gameweek 37 Fixture Two'] < 0,
                                                                  x['Gameweek_37_Fixture_Two_Team'].map(teams.set_index('team_id').team_short_name).str.lower(),
                                                                  x['Gameweek_37_Fixture_Two_Team'].map(teams.set_index('team_id').team_short_name).str.upper()
                                                                 ),
            Gameweek_38_Fixture_One_Team = lambda x: np.where(x['Gameweek 38 Fixture One'] < 0,
                                                              (-1*x['Gameweek 38 Fixture One']).map(fixtures.set_index('fixture_id').home_team_id),
                                                              x['Gameweek 38 Fixture One'].map(fixtures.set_index('fixture_id').away_team_id)
                                                             ).astype('int8'),
            Gameweek_38_Fixture_One_Opponent = lambda x: np.where(x['Gameweek 38 Fixture One'] < 0,
                                                                  x['Gameweek_38_Fixture_One_Team'].map(teams.set_index('team_id').team_short_name).str.lower(),
                                                                  x['Gameweek_38_Fixture_One_Team'].map(teams.set_index('team_id').team_short_name).str.upper()
                                                                 ) 
           )
    .drop(columns=['team_id',
                   'Gameweek 36 Fixture One',
                   'Gameweek_36_Fixture_One_Team',
                   'Gameweek 36 Fixture Two',
                   'Gameweek_36_Fixture_Two_Team',
                   'Gameweek 37 Fixture One',
                   'Gameweek_37_Fixture_One_Team',
                   'Gameweek 37 Fixture Two',
                   'Gameweek_37_Fixture_Two_Team',
                   'Gameweek 38 Fixture One',
                   'Gameweek_38_Fixture_One_Team'
                  ])
    .fillna('')
    .pipe(lambda x: x.set_axis(x.columns.str.replace('_',' '), axis=1))
    .pipe(lambda x: x.style.applymap(colour, subset=x.iloc[:, 1:7].columns))
)

### Close connection to the database

In [28]:
con.close()

## Summary
We have explored some simple queries of the fpl database and compared SQL and pandas query equivalents.

Further queries may be added in the future.